<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>测试首页</title>
    <script src="../style/jquery.js"></script>
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>
        <!--填充表头-->
           $(function () {
               var content="";
               $.ajax({
                   url:"/test/findAllClass",
                   dataType:"JSON",
                   type:"GET",
                   success:function (data) {
                       console.log(data);
                       classData=data["classitem"];
                       store=JSON.parse(data["store"]);
                       console.log(store);
                       var str="<tr><th rowspan='3'>门店编码</th><th rowspan='3'>门店名称</th>";
                       var str1="<tr>";
                       var str2="<tr>";
                       for (var i = 0; i <classData.length ; i++) {
                          str+="<th colspan='"+classData[i]. equipNames.length+"'>"+classData[i].name+"</th>";
                           for (var j = 0; j <classData[i]. equipNames.length; j++) {
                               str1+="<th colspan='"+classData[i]. equipNames[j]. itemSet.length+"'>"+classData[i]. equipNames[j].equipName+"</th>"
                               for (var k = 0; k <classData[i]. equipNames[j]. itemSet.length ; k++) {
                                   str2+="<th>"+classData[i]. equipNames[j]. itemSet[k].name+"</th>";
                               }
                           }
                       }
                       str2+="</tr>";
                       str1+="</tr>";
                       str+="</tr>";
                       str+=str1;
                       str+=str2;
                       $("thead").html(str);
                       for (var i = 0; i <store.length ; i++) {
                           content+="<tr>";
                           content+="<td>"+store[i].storeCode+"</td>";
                           content+="<td>"+store[i].name+"</td>";
                           for (var k = 0; k <classData.length; k++) {
                               for (var l = 0; l <classData[k]. equipNames.length ; l++) {
                                   for (var m = 0; m <classData[k]. equipNames[l]. itemSet.length ; m++) {
                                       if(store[i].items[classData[k]. equipNames[l]. itemSet[m].code]!=null){
                                           content+="<td>"+store[i].items[classData[k]. equipNames[l]. itemSet[m].code]+"</td>";
                                       }else {
                                           content+="<td>0</td>";
                                       }

                                   }
                               }
                           }
                       }
                       content+="</tr>";
                       $("tbody").html(content);
                   }
               });
           });


    </script>
</head>
<body>
   <!--先循环表头-->
  <div class="container">
      <table class="table table-striped" id="myTable">
          <thead style="align:center;vlign:ctenter"></thead>
          <tbody></tbody>
      </table>
  </div>
</body>
</html>