<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>门店闭店展示页面</title>
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <style>
        #page {
            margin-top: 10px;
        }
        #page .curr-page {
            background-color: #337AB7;
            color: white;
        }

        #page .page-btn:hover, #page .prev:hover, #page .next:hover {
            background-color: #337AB7;
            color: white;
        }
    </style>
    <script>
        var page = {
            currPage: 1,
            totalPage: 0,
            pageLength: 4,
            startPage: 1,
            endPage: 4,
            pageSize: 5
        };
       //填充市场IT所属门店的基本信息
        $(function () {
            $.ajax({
                url:"/store/storeCloseList",
                data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": ""},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    if (data.totalPages > page.pageLength) {
                        addButtons(page.startPage, page.pageLength);
                    } else {
                        addButtons(page.startPage, data.totalPages);
                    }
                    pageIteration(page.currPage);
                    isDisabled(page.currPage, data.totalPages);
                    for (var i = 0; i <data.content.length ; i++) {
                        //闭店餐厅有闭店时间，怎不用进行重复闭店
                            $("tbody").append('<tr>' +
                                '<td style="vertical-align: center"><input type="checkbox"><input type="hidden" name="storeId" id="storeId" value="'+data.content[i].storeId+'"></td>'+
                                '<td>'+data.content[i].storeName+'</td>'+
                                '<td>'+data.content[i].storeCode+'</td>'+
                                '<td>'+data.content[i].marketName+'</td>' +
                                '<td>'+data.content[i].band+'</td>' +
                                '</tr>')

                    }
                },
                error:function () {
                    alert("门店信息填充失败");
                }
            })
        });

        //页面选择相应的闭店操作(页面的所有复选框按钮)
        function storeClose(){
            var checkedLength =  $("input:checkbox:checked");
            if(checkedLength.length==0){
                alert("请在页面选择要关闭的门店");
            }else{
                var ids="";
                for (var i = 0; i <checkedLength.length ; i++) {
                    //门店得id
                    var subling = $(checkedLength[i]).next().val();
                    ids+=subling+",";
                }
                $.ajax({
                    url:"/store/toExeStoreClose",
                    data:{"ids":ids},
                    dataType:"JSON",
                    type:"GET",
                    success:function (data) {
                        if(data.code=="1"){
                            window.location.href="/store/storeClosePage";
                        }
                    },
                    error:function () {
                        alert("闭店操作失败");
                    }

                })
            }

        }
        //对搜索按钮添加事件
        $(document).on("click","#searchButton",function (){
            page.currPage=1;
            page.startPage=1;
            page.endPage=4;
            var searchName = $('#search').val();
            $("tbody").html("");
            $.ajax({
                url:"/store/storeCloseList",
                data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    if (data.totalPages > page.pageLength) {
                        addButtons(page.startPage, page.pageLength);
                    } else {
                        addButtons(page.startPage, data.totalPages);
                    }
                    pageIteration(page.currPage);
                    isDisabled(page.currPage, data.totalPages);
                    for (var i = 0; i <data.content.length ; i++) {
                        $("tbody").append('<tr>' +
                            '<td style="vertical-align: center"><input type="checkbox"><input type="hidden" name="storeId" id="storeId" value="'+data.content[i].storeId+'"></td>'+
                            '<td>'+data.content[i].storeName+'</td>'+
                            '<td>'+data.content[i].marketName+'</td>' +
                            '<td>'+data.content[i].band+'</td>' +
                            '<td>'+data.content[i].marketCode.name+'</td>' +
                            '</tr>')
                    }
                }

            });
        });
        //对上一页按钮添加设备
        $(document).on("click", "#page .prev", function (){
            searchName = $('#search').val();
            page.currPage = parseInt(page.currPage) - 1;
            curr_page = page.currPage;
            $("tbody").html("");
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url:"/store/storeCloseList",
                data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    for (var i = 0; i <data.content.length ; i++) {
                        $("tbody").append('<tr>' +
                            '<td style="vertical-align: center"><input type="checkbox"><input type="hidden" name="storeId" id="storeId" value="'+data.content[i].storeId+'"></td>'+
                            '<td>'+data.content[i].storeName+'</td>'+
                            '<td>'+data.content[i].storeCode+'</td>'+
                            '<td>'+data.content[i].marketName+'</td>' +
                            '<td>'+data.content[i].band+'</td>' +
                            '</tr>')
                    }

                },
                error:function () {
                    alert("上一页数据加载失败");
                }
            });
        });

        //对页码添加点击事件
        $(document).on("click", ".page-btn", function (){
            searchName = $('#search').val();
            $this = $(this);
            $("tbody").html("");
            page.currPage = parseInt($this.text());
            curr_page = page.currPage;
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url:"/store/storeCloseList",
                data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    for (var i = 0; i <data.content.length ; i++) {
                        $("tbody").append('<tr>' +
                            '<td style="vertical-align: center"><input type="checkbox"><input type="hidden" name="storeId" id="storeId" value="'+data.content[i].storeId+'"></td>'+
                            '<td>'+data.content[i].storeName+'</td>'+
                            '<td>'+data.content[i].storeCode+'</td>'+
                            '<td>'+data.content[i].marketName+'</td>' +
                            '<td>'+data.content[i].band+'</td>' +
                            '</td>' +
                            '</tr>')
                    }
                    
                },
                error:function () {
                    alert("页码事件添加失败");
                }
            })
        });
        
        //下一页添加事件
        $(document).on("click", "#page .next", function (){
            searchName = $('#search').val();
            page.currPage = parseInt(page.currPage) + 1;
            $("tbody").html("");
            curr_page = page.currPage;
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url:"/store/storeCloseList",
                data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    for (var i = 0; i <data.content.length ; i++) {
                        $("tbody").append('<tr>' +
                            '<td style="vertical-align: center"><input type="checkbox"><input type="hidden" name="storeId" id="storeId" value="'+data.content[i].storeId+'"></td>'+
                            '<td>'+data.content[i].storeName+'</td>'+
                            '<td>'+data.content[i].storeCode+'</td>'+
                            '<td>'+data.content[i].marketName+'</td>' +
                            '<td>'+data.content[i].band+'</td>' +
                            '</tr>')
                    }

                },
                error:function () {
                    alert("下一页事件添加失败");
                }
            })
            
            
        });

        //首页添加事件
        $(document).on("click","#page .first",function (){
            searchName = $('#search').val();
            $("tbody").html("");
            page.currPage=1;
            page.startPage=1;
            page.endPage=4;
            $.ajax({
                url:"/store/storeCloseList",
                data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": ""},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    if (data.totalPages > page.pageLength) {
                        addButtons(page.startPage, page.pageLength);
                    } else {
                        addButtons(page.startPage, data.totalPages);
                    }
                   // pageIteration(page.currPage);
                    pageFirst(page.currPage);
                    isDisabled(page.currPage, data.totalPages);
                    isFirstAndLast(page.currPage,data.totalPages);
                    for (var i = 0; i <data.content.length ; i++) {
                        //闭店餐厅有闭店时间，怎不用进行重复闭店
                        $("tbody").append('<tr>' +
                            '<td style="vertical-align: center"><input type="checkbox"><input type="hidden" name="storeId" id="storeId" value="'+data.content[i].storeId+'"></td>'+
                            '<td>'+data.content[i].storeName+'</td>'+
                            '<td>'+data.content[i].storeCode+'</td>'+
                            '<td>'+data.content[i].marketName+'</td>' +
                            '<td>'+data.content[i].band+'</td>' +
                            '</tr>')

                    }
                },
                error:function () {
                    alert("门店信息填充失败");
                }
            })

        });

        //末页添加点击事件
        $(document).on("click","#page .last",function () {
            searchName = $('#search').val();
            $("tbody").html("");
            var endPage=0;
            $.ajax({
                url:"/store/storeCloseListTest",
                data:{"page": 1, "pageSize": page.pageSize, "searchName": searchName},
                type:"GET",
                dataType:"JSON",
                async:false,
                success:function (data) {
                    if(data!=null){
                        endPage = data["pageTotals"];
                    }
                }
            });
            pageLast(endPage);
            page.currPage = endPage;
            page.startPage = page.currPage-page.pageLength+1;
            page.endPage=4;
            $.ajax({
                url:"/store/storeCloseList",
                data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    if (data.totalPages > page.pageLength) {
                        addButtons(page.startPage, page.pageLength);
                    } else {
                        addButtons(page.startPage, data.totalPages);
                    }
                    pageLast(page.currPage);
                    isDisabled(page.currPage, data.totalPages);
                    isFirstAndLast(page.currPage,data.totalPages);
                    for (var i = 0; i <data.content.length ; i++) {
                        //闭店餐厅有闭店时间，怎不用进行重复闭店
                        $("tbody").append('<tr>' +
                            '<td style="vertical-align: center"><input type="checkbox"><input type="hidden" name="storeId" id="storeId" value="'+data.content[i].storeId+'"></td>'+
                            '<td>'+data.content[i].storeName+'</td>'+
                            '<td>'+data.content[i].storeCode+'</td>'+
                            '<td>'+data.content[i].marketName+'</td>' +
                            '<td>'+data.content[i].band+'</td>' +
                            '</tr>')

                    }
                },
                error:function () {
                    alert("门店信息填充失败");
                }
            })

        });

        //添加分页插件，根据总页数来添加按钮
        function addButtons(startPage, pageLength) {
            $("#page").html(" ");

            var _html = "<center><button class='btn btn-default first'><<首页</button><button class='btn btn-default prev' ><<上一页</button> ";
            for (var i = startPage; i < startPage + pageLength; i++) {
                _html += "<button class='btn btn-default page-btn' data-pageno=" + i + ">" + i + "</button> ";
            }
            _html += " <button class='btn btn-default next'>下一页>></button>" +
                "<button class='btn btn-default last'>末页>></button>" +
                "</center>";
            $("#page").html(_html);
        }
        //分页按钮迭代(最要是对"上一页"和"下一页"是否禁用的判断)
        function isDisabled(pagenum, totalpage) {
            if (totalpage == 0 || totalpage == 1) {
                $("#page .prev").attr("disabled", true);
                $("#page .next").attr("disabled", true);
            } else if (pagenum == 1) {
                $("#page .prev").attr("disabled", true);
                $("#page .next").removeAttr("disabled");
            } else if (pagenum == totalpage) {
                $("#page .next").attr("disabled", true);
                $("#page .prev").removeAttr("disabled");
            } else {
                $("#page .next").removeAttr("disabled");
                $("#page .prev").removeAttr("disabled");
            }
        }
        function isFirstAndLast(pagenum,totalpage) {
            if(totalpage==0){
                $("#page .first").attr("disabled", true);
                $("#page .last").attr("disabled", true);
            }else{
                $("#page .first").removeAttr("disabled");
                $("#page .last").removeAttr("disabled");
            }
        }
        //按钮迭代器
        function pageIteration(currPage) {
            if (page.currPage != 1 && page.currPage == page.startPage) {
                page.startPage = page.currPage - page.pageLength / 2;
                page.endPage = page.currPage + page.pageLength / 2 - 1;
                addButtons(page.startPage, page.pageLength);
                $("#page .page-btn").eq(page.pageLength / 2).addClass("curr-page");
            } else if (page.currPage != page.totalPage && page.currPage == page.endPage) {
                page.startPage = page.currPage - page.pageLength / 2 + 1;
                page.endPage = (page.currPage + page.pageLength / 2) >= page.totalPage ? page.totalPage : (page.currPage + page.pageLength / 2);
                addButtons(page.startPage, page.pageLength / 2 + (page.endPage == page.totalPage ? (page.endPage - page.currPage) : page.pageLength / 2));
                $("#page .page-btn").eq(page.pageLength / 2 - 1).addClass("curr-page");
            }
            $("#page .page-btn").removeClass("curr-page").parent().find("[data-pageno=" + currPage + "]").addClass("curr-page");
        }
        //首页时的按钮选中事件
        function pageFirst(currPage) {
            //addButtons(currPage,page.pageLength);
            $("#page .page-btn").eq(page.pageLength / 2).addClass("curr-page");
            $("#page .page-btn").removeClass("curr-page").parent().find("[data-pageno=" + currPage + "]").addClass("curr-page");
        }
        //末页按钮选中事件
        function pageLast(currPage) {
          //  addButtons(currPage-page.pageLength+1,page.pageLength);
            $("#page .page-btn").eq(page.pageLength / 2).addClass("curr-page");
            $("#page .page-btn").removeClass("curr-page").parent().find("[data-pageno=" + currPage + "]").addClass("curr-page");

        }

    </script>
</head>
<body>
 <div class="container">
     <div class="col-md-7 col-xs-12">
         <button type="button" class="btn btn-default" onclick="storeClose()" id="storeOperation">
             <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 确认闭店
         </button>
     </div>
     <div class="col-md-5 col-xs-12" style="float: right">
         <div class="input-group">
             <input type="text" id="search" class="form-control" placeholder="输入门店名称/编码/市场/进行搜索">
             <span class="input-group-btn">
                 <button class="btn btn-primary" id="searchButton">搜 索</button>
            </span>
         </div>
     </div>
     <table class="table table-striped">
         <caption>门店列表展示信息</caption>
         <thead>
         <tr>
             <th>是否闭店</th>
             <th>门店名称</th>
             <th>门店编码</th>
             <th>所属市场</th>
             <th>所属品牌</th>
         </tr>
         </thead>
         <tbody>
         </tbody>
     </table>
     <div id="page"></div>
 </div>
</body>
</html>