<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>门店设备展示页面</title>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link hx_element_type="css_shared" href="/content/hxcssstylev3_shared.css" type="text/css" rel="stylesheet">
    <link hx_element_type="css_theme" href="/content/hxcssstylev3_blue.css" type="text/css" rel="stylesheet">
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/content/project_customized.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        /*长文本输入框高度设置*/
        #hxinputbox__vwhxco_lease_contract__decoration_desc,#hxinputbox__vwhxco_lease_contract__breach_of_contract_clause,
        #hxinputbox__vwhxco_lease_contract__contract_comment,#hxinputbox__vwhxco_lease_contract__rtn_comment,
        #hxinputbox__vwhxco_lease_contract__breach_of_contract_clause,#hxinputbox__vwhxco_lease_contract__query_keyword,
        #hxinputbox__vwhxco_lease_contract__free_contract_content,#hxinputbox__vwhxco_lease_contract__payment_begin_remarks,
        #hxinputbox__vwhxco_lease_contract__turnover_report_remark,#hxinputbox__vwhxco_lease_contract__open_issue_of_contract,
        #hxinputbox__vwhxco_lease_contract__other_commonts{
            height:72px;
        }
        .supplier_remark {left:110px;position:absolute;top:10px;}

        /*隐藏长文本弹出输入框水平方向的滚动条*/
        textarea[hx_allow_popup_pick='1']{
            overflow-x:hidden;
        }
    </style>
    <script>
        var serviceNameArr = new Array();
        var accessNameArr = new Array();
        var methodArr = new Array();

       //填充页面信息
       $(function () {
           var storeId = $("#store_id").val();
           $.ajax({
               url:"/store/findById",
               data:{"storeId":storeId},
               dataType:"JSON",
               type:"GET",
               async:false,
               success:function (data) {
                   //console.log("页面追加数据---》"+data);
                    $("#storeCode").val(data.storeCode);
                    $("#storeName").val(data.storeName);
                    $("#address").val(data.address);
                    $("#marketName").val(data.marketName);
                    $("#marger").val(data.marger);
                    $("#storeStatus").val(data.storeStatus.statusName);
                    $("#openDate").val(data.openDate);
                    $("#closeDate").val(data.closeDate);
                    <!--向页面中填充宽带信息-->
                    if(data.widthBandSet!=null){
                        for (var i = 0; i <data.widthBandSet.length ; i++) {
                             $("#widthShow").append("<div class=\"page_section_container hxcontainer_shadow\">" +
                                "<img class=\"page_section_title_decorated hxbgcolor_datalist_head\" src=\"./content/hxpub_clear.gif\">" +
                                "<div class=\"page_section_title_area\" hx_element_type=\"text\">" +
                                "<span class=\"hxtxt_nowrap hxtxt_section_title\" style=\";text-align:left;display:inline-block;width:100%;\">宽带基本信息</span>" +
                                "</div>" +
                                "<div class=\"page_section_content_area\">" +
                                "<table style=\"table-layout:fixed;width:100%;\">" +
                                "<tbody>" +
                                "<tr>" +
                                "<td class=\"hxfld_container\"><label class=\"hxtxt_caption hxtxt_nowrap\" style=\"display:inline-block;width:24%;padding-right:10px;text-align:left\">运营商</label><span style=\"display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;\"><input type=\"hidden\"  name=\"wid\" id=\"wid\" value="+data.widthBandSet[i].wid+"><input type=\"hidden\" id=\"sid\" name=\"sid\" value="+data.widthBandSet[i].servicePerson.sid+"><select class=\"form-control\"  name=\"servicePerson\"  test=\"serviceTest\" id=\"servicePerson"+i+"\"></select></span></td>" +
                                "<td class=\"hxfld_container\"><label class=\"hxtxt_caption hxtxt_nowrap\" style=\"display:inline-block;width:24%;padding-right:10px;text-align:left\">接入方式</label><span style=\"display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;\"><input type=\"hidden\" name=\"aid\" id=\"aid\" value="+data.widthBandSet[i].accessMethod.aid+"><select class=\"form-control\" name=\"accessMethod\" test=\"accessTest\" id=\"accessMethod"+i+"\"></select></span></td>" +
                                "<td class=\"hxfld_container\"><label class=\"hxtxt_caption hxtxt_nowrap\" style=\"display:inline-block;width:24%;padding-right:10px;text-align:left\">付款方式</label><span style=\"display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;\"><input type=\"hidden\" name=\"payid\" id=\"payid\" value="+data.widthBandSet[i].payMethod.payid+"><select class=\"form-control\" test=\"payMethodTest\" name=\"payMethod\" id=\"payMethod"+i+"\"></select></span></td>" +
                                "</tr>" +
                                "<tr>" +
                                "<td class=\"hxfld_container\"><label class=\"hxtxt_caption hxtxt_nowrap\" style=\"display:inline-block;width:24%;padding-right:10px;text-align:left\">付款金额</label><span style=\"display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;\"><input  type=\"text\"  name=\"payMoney\"  id=\"payMoney\" value="+data.widthBandSet[i].payMoney+" class=\"hxinputbox hxborder_inputbox\"  style=\"text-align:left;width:100%;overflow-y:auto\"></span></td>" +
                                "<td class=\"hxfld_container\"><label class=\"hxtxt_caption hxtxt_nowrap\" style=\"display:inline-block;width:24%;padding-right:10px;text-align:left\">宽带账号</label><span style=\"display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;\"><input  type=\"text\"  name=\"identity\"  id=\"identity\" value="+data.widthBandSet[i].identity+" class=\"hxinputbox hxborder_inputbox\"  style=\"text-align:left;width:100%;overflow-y:auto\"></span></td>" +
                                "<td class=\"hxfld_container\"><label class=\"hxtxt_caption hxtxt_nowrap\" style=\"display:inline-block;width:24%;padding-right:10px;text-align:left\">宽带密码</label><span style=\"display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;\"><input  type=\"text\"  name=\"password\"  id=\"password\" value="+data.widthBandSet[i].password+" class=\"hxinputbox hxborder_inputbox\"  style=\"text-align:left;width:100%;overflow-y:auto\"></span></td>" +
                                "</tr>" +
                                "<tr>" +
                                "<td class=\"hxfld_container\"><label class=\"hxtxt_caption hxtxt_nowrap\" style=\"display:inline-block;width:24%;padding-right:10px;text-align:left\">宽带带宽</label><span style=\"display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;\"><input  type=\"text\"  name=\"tapewidth\"  id=\"tapewidth\" value="+data.widthBandSet[i].tapewidth+" class=\"hxinputbox hxborder_inputbox\"  style=\"text-align:left;width:100%;overflow-y:auto\"></span></td>" +
                                "<td class=\"hxfld_container\"><label class=\"hxtxt_caption hxtxt_nowrap\" style=\"display:inline-block;width:24%;padding-right:10px;text-align:left\">到期日期</label><span style=\"display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;\"><input  type=\"text\"  name=\"endDate\"  id=\"endDate\" value="+data.widthBandSet[i].endDate+" class=\"hxinputbox hxborder_inputbox\"  style=\"text-align:left;width:100%;overflow-y:auto\"></span></td>" +
                                "</tr>"+
                                "</tbody>" +
                                "</table>" +
                                "</div>" +
                                "</div>");
                             serviceNameArr.push(data.widthBandSet[i].servicePerson.sid);
                             accessNameArr.push(data.widthBandSet[i].accessMethod.aid);
                             methodArr.push(data.widthBandSet[i].payMethod.payid);
                        }
                        <!--加载宽带运营商 注意ajax请求的取值方式：false-->
                        $.ajax({
                            url:"/store/serviceperson",
                            dataType:"JSON",
                            type:"GET",
                            async:false,
                            success:function (data) {
                                for (var i = 0; i <data.length ; i++) {
                                    $("select[test='serviceTest']").append('' +
                                        '<option id="'+data[i].serviceName+'" value="'+data[i].sid+'">'+data[i].serviceName+'</option>');
                                }
                            },
                            error:function () {
                                alert("填充宽带运行商失败")
                            }
                        });
                        <!--宽带的接入方式-->
                        $.ajax({
                            url:"/store/accessmethod",
                            dataType:"JSON",
                            type:"GET",
                            async:false,
                            success:function (data) {
                                for (var i = 0; i <data.length ; i++) {
                                    $("select[test='accessTest']").append('' +
                                        '<option id="'+data[i].accessName+'" value="'+data[i].aid+'">'+data[i].accessName+'</option>')
                                }
                            },
                            error:function () {
                                alert("填充宽带的接入方式失败")
                            }
                        });
                        <!--付款方式-->
                        $.ajax({
                            url:"/store/paymethod",
                            dataType:"JSON",
                            type:"GET",
                            async:false,
                            success:function (data) {
                                for (var i = 0; i <data.length ; i++) {
                                    $("select[test='payMethodTest']").append('' +
                                        '<option id="'+data[i].method+'" value="'+data[i].payid+'">'+data[i].method+'</option>')
                                }
                            },
                            error:function () {
                                alert("填充宽带的付款方式失败");
                            }
                        });
                        //对下拉框进行回显
                        for (var i = 0; i < serviceNameArr.length ; i++) {
                             $("select[test='serviceTest']").eq(i).val(serviceNameArr[i]);
                             $("select[test='accessTest']").eq(i).val(accessNameArr[i]);
                            $("select[test='payMethodTest']").eq(i).val(methodArr[i]);

                        }
                    }
                    //向页面中填充设备
                    if(data.itemsSet!=null){
                        var newArr =[];
                        for (var i = 0; i < data.itemsSet.length; i++) {
                            if(newArr.indexOf(data.itemsSet[i].className)==-1){
                                newArr.push(data.itemsSet[i].className);
                            }
                        }
                        for (var k = 0; k <newArr.length ; k++) {
                            $("#itemShow").append('' +
                                '<div class="page_section_container hxcontainer_shadow">' +
                                '<img class="page_section_title_decorated hxbgcolor_datalist_head" src="./content/hxpub_clear.gif">' +
                                '<div class="page_section_title_area">' +
                                '<span id="span'+k+'" class="hxtxt_nowrap hxtxt_section_title" style=";text-align:left;display:inline-block;width:100%;">'+newArr[k]+'</span>' +
                                '</div>' +
                                '<div class="page_section_title_btn" style="left:300px;"></div>' +
                                '<div class="page_section_content_area">' +
                                '<table  class="hxtbl_datalist_frame" style="table-layout:fixed;width:100%">' +
                                '<thead>' +
                                '<tr class="hxbgcolor_datalist_head">' +
                                '<td align="center" width="4%">' +
                                '<span style=";display:none">' +
                                '<span style="display:inline-block;width:100%;" class="hxbtn_container datalist_line_add"></span>' +
                                '</span>' +
                                '</td>' +
                                '<td align="center"  width="19%">' +
                                '<span class="hxtxt_list_column_caption hxbold hxtxt_nowrap">设备名称</span>' +
                                '</td>' +
                                '<td align="center"  width="19%">' +
                                '<span class="hxtxt_list_column_caption hxbold hxtxt_nowrap">设备型号</span>' +
                                '</td>' +
                                '<td align="center"  width="19%">' +
                                '<span class="hxtxt_list_column_caption hxbold hxtxt_nowrap">设备数量</span>' +
                                '</td>' +
                                '<td align="center" width="19%">' +
                                '<span class="hxtxt_list_column_caption hxbold hxtxt_nowrap">设备操作</span>' +
                                '</td>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody id="tbody'+k+'">' +
                                '</tbody>' +
                                '</table>' +
                                '</div>'+
                                '</div>');
                            //设置分类的div
                            for (var p = 0; p <data.itemsSet.length ; p++) {
                                var show = $("#span"+k).text();
                                if(show==data.itemsSet[p].className){
                                    $("#tbody"+k).append('' +
                                        '<tr class="hxbgcolor_itemline_normal">' +
                                        '<td align="center" width="4%">' +
                                        '</td>' +
                                        '<td align="center" width="19%"><span style="display:inline-block;width:100%;padding-right:18px;;margin-left:-11px;padding-left:11px;"><input type="hidden" name="id" value="'+data.itemsSet[p].id+'"><input type="text" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly"  readonly="readonly" name="equipName" value="'+data.itemsSet[p].equipName+'" style="text-align:left;width:100%;overflow-y:auto"></span></td>' +
                                        '<td align="center" width="19%"><span style="display:inline-block;width:100%;padding-right:18px;;margin-left:-11px;padding-left:11px;"><input type="hidden" name="itemId" value="'+data.itemsSet[p].item.itemId+'"><input type="text" name="name" readonly="readonly" value="'+data.itemsSet[p].item.name+'" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly"   style="text-align:left;width:100%;overflow-y:auto"></span></td>' +
                                        '<td align="center" width="19%"><span style="display:inline-block;width:100%;padding-right:18px;;margin-left:-11px;padding-left:11px;"><input type="hidden" name="className" value="'+data.itemsSet[p].className+'"><input type="text"  name="num" value="'+data.itemsSet[p].num+'" class="hxinputbox hxborder_inputbox" style="text-align:left;width:100%;overflow-y:auto"></span></td>' +
                                        '<td align="center" width="19%"><button class="btn btn-default" onclick="remove('+data.itemsSet[p].id+')"><span class="glyphicon glyphicon-remove"></span>移除</button></td>'+
                                        '</tr>');
                                }

                            }
                        }
                    }
                    <!--向页面添加附件信息，允许附件的本地下载-->
                    if(data.dbFileSet!=null){
                        $("#fileShow").append('' +
                            '<div class="page_section_container hxcontainer_shadow">' +
                              '<div class="page_section_title_area" hx_element_type="text">' +
                              '<span class="hxtxt_nowrap hxtxt_section_title" style=";text-align:left;display:inline-block;width:100%;">附件下载</span>' +
                              '</div>' +
                              '<div class="page_section_content_area">' +
                               '<button class="btn btn-default" onclick="downLoadFile('+storeId+')">下载附件</button><br/>' +
                               '<div id="fileAppend"></div>' +

                              '</div>' +
                            '</div>')


                    }


               },
               error:function () {
                   alert("页面数据加载失败");
               }
           });
       });

       function downLoadFile(id){
           $.ajax({
               url:"/store/findById",
               data:{"storeId":id},
               dataType:"JSON",
               type:"GET",
               success:function (data) {
                   $("#fileAppend").html("");
                   if(data.dbFileSet!=null){
                       for (var i = 0; i <data.dbFileSet.length ; i++) {
                           $("#fileAppend").append('' +
                               '<a href="/store/downloadFile?fileId='+data.dbFileSet[i].id+'">'+data.dbFileSet[i].fileName+'</a><br/>');
                       }
                   }
               }
           })
       }



       <!--填充设备类别信息-->
        $(function () {
           $.ajax({
               url:"/classfication/findAll",
               dataType:"JSON",
               type:"GET",
               success:function (data) {
                   $("#classficationSelect").html("");
                   $("#equipNameSelect").html("");

                   $("#classficationSelect").append('' +
                       '<select onchange="changeClass()" class="form-control" name="className" id="className">' +
                         '<option value="0" style="display: none" selected >--请选择</option>' +
                       '</select>');


                   for (var i = 0; i <data.length ; i++) {
                     //  $("select#className").html("");
                       if(data[i].publicStatus.name=="启用"){
                           $("select#className").append('' +
                               '<option id="'+data[i].classId+'" value="'+data[i].name+'">'+data[i].name+'</option>');
                       }
                   }
               },
               error:function () {
                   alert("页面设备信息填充失败");
               }
           })
        });

       <!--填充设备名称信息-->
       function changeClass() {
           var id = $("#className").find("option:checked").attr("id");
           $.ajax({
               url:"/classfication/findById",
               data:{"id":id},
               dataType:"JSON",
               type:"GET",
               success:function (data) {
                   $("#equipNameSelect").html("");
                  // $("select#equipName").empty();
                   $("#equipNameSelect").append('' +
                       '<label>设备名称</label>' +
                       '<select onchange="changeEquipName()" class="form-control" name="equipName" id="equipName">' +
                         '<option value="0" style="display: none" selected>--请选择</option>' +
                       '</select>');
                   if(data.equipNames.length!=0){
                       for (var i = 0; i <data.equipNames.length ; i++) {
                           if(data.equipNames[i].publicStatus.name=="启用"){
                               $("select#equipName").append('' +
                                   '<option id="'+data.equipNames[i].equipId+'" value="'+data.equipNames[i].name+'">'+data.equipNames[i].name+'</option>');
                           }

                       }
                   }
               },
               error:function () {
                   alert("填充设备名称信息失败");
               }
           });
       }

       <!--填充设备型号信息-->
        function changeEquipName() {
            var id = $("#equipName").find("option:checked").attr("id");
            $.ajax({
                url:"/equipname/findById",
                data:{"id":id},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    $("#itemSelect").html("");
                  //  $("select#item").empty();
                    $("#itemSelect").append(
                        '<label>设备型号</label>'+
                        '<select class="form-control" name="item" id="item">' +
                           '<option value="0" style="display: none" selected>--请选择</option>' +
                        '</select>'
                    );
                    if(data.itemSet.length!=0){
                        for (var i = 0; i < data.itemSet.length; i++) {
                           // $("select#item").html("");
                            if(data.itemSet[i].publicStatus.name=="启用"){
                                $("select#item").append('' +
                                    '<option id="'+data.itemSet[i].name+'" value="'+data.itemSet[i].itemId+'">'+data.itemSet[i].name+'</option>')
                            }

                        }
                    }
                },
                error:function () {
                    alert("填充设备型号信息失败");
                }
            })

        }
        <!--加载宽带运营商 注意ajax请求的取值方式：false-->

        $(function () {
            $.ajax({
                url:"/store/serviceperson",
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    for (var i = 0; i <data.length ; i++) {
                        $("select#servicePerson").append('' +
                            '<option id="'+data[i].serviceName+'" value="'+data[i].sid+'">'+data[i].serviceName+'</option>');
                    }
                },
                error:function () {
                    alert("填充宽带运行商失败")
                }
            });
        });

        <!--宽带的接入方式-->
        $(function () {
            $.ajax({
                url:"/store/accessmethod",
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    for (var i = 0; i <data.length ; i++) {
                        $("select#accessMethod").append('' +
                            '<option id="'+data[i].accessName+'" value="'+data[i].aid+'">'+data[i].accessName+'</option>')
                    }
                },
                error:function () {
                    alert("填充宽带的接入方式失败")
                }
            });
        });

        <!--付款方式-->
        $(function () {
            $.ajax({
                url:"/store/paymethod",
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    for (var i = 0; i <data.length ; i++) {
                        $("select#payMethod").append('' +
                            '<option id="'+data[i].method+'" value="'+data[i].payid+'">'+data[i].method+'</option>')
                    }
                },
                error:function () {
                    alert("填充宽带的付款方式失败");
                }
            });
        });

       //返回上级按钮的事件
       function  goback(){
           $.ajax({
               url:"/store/homeBtn",
               dataType:"JSON",
               type:"GET",
               success:function (data) {
                  if(data!=null&&data["code"]=="true"){
                      window.location.href="/store/home";
                  }
               }
           });

          // history.go(-1);
       }


       //确认提交的按钮
       function checkSubmit(){
           var result = confirm("设备提交后将上传至管理员审批，请确认是否进行修改");
           if (result) {
               //在门店设置div下选择tbody
               var itemsSet = "";
               var widthsSet = "";
               var itemObjects = $("#itemShow .page_section_content_area .hxtbl_datalist_frame tbody tr");
               if (itemObjects.length == 0) {
                   alert("请添加门店的设备信息");
               }
               if (itemObjects.length != 0) {
                   itemsSet = "[";
                   for (var i = 0; i < itemObjects.length; i++) {
                       var tdArr = $(itemObjects[i]).find("td");
                       var id = tdArr.eq(1).find("input[type='hidden']").val();
                       var equipName = tdArr.eq(1).find("input[name='equipName']").val();
                       var itemId = tdArr.eq(2).find("input[type='hidden']").val();
                       var name = tdArr.eq(2).find("input[name='name']").val();
                       var num = tdArr.eq(3).find("input[name='num']").val();
                       var className = tdArr.eq(3).find("input[name='className']").val();
                       itemsSet += "{\"className\":\"" + className + "\",\"equipName\":\"" + equipName + "\",\"id\":" + id + "," +
                           "\"item\":{\"itemId\":" + itemId + ",\"name\":\"" + name + "\"}," +
                           "\"num\":" + num + "";
                       if (i == itemObjects.length - 1) {
                           itemsSet += "}";
                       } else {
                           itemsSet += "},"
                       }
                   }
                   itemsSet += "]";
               }
               //在门店宽带下选择
               var widthObjects = $("#widthShow .page_section_content_area tbody");
               if (widthObjects.length == 0) {
                   alert("请添加门店的宽带信息");
               }
               if (widthObjects.length != 0) {
                   //tbody的个数
                   widthsSet = "[";
                   for (var i = 0; i < widthObjects.length; i++) {
                       var trArrs = $(widthObjects[i]).find("tr");
                       var wid = trArrs.eq(0).find("input[name='wid']").val();
                       var sid = trArrs.eq(0).find("select[name='servicePerson']").find("option:checked").val();
                       var serviceName = trArrs.eq(0).find("select[name='servicePerson']").find("option:checked").attr("id");
                       var aid = trArrs.eq(0).find("select[name='accessMethod']").find("option:checked").val();
                       var accessName = trArrs.eq(0).find("select[name='accessMethod']").find("option:checked").attr("id");
                       var payid = trArrs.eq(0).find("select[name='payMethod']").find("option:checked").val();
                       var method = trArrs.eq(0).find("select[name='payMethod']").find("option:checked").attr("id");
                       var payMoney = trArrs.eq(1).find("input[name='payMoney']").val();
                       var identity = trArrs.eq(1).find("input[name='identity']").val();
                       var password = trArrs.eq(1).find("input[name='password']").val();
                       var tapewidth = trArrs.eq(2).find("input[name='tapewidth']").val();
                       var endDate = trArrs.eq(2).find("input[name='endDate']").val();
                       widthsSet += "{\"wid\":" + wid + ",\"servicePerson\":{\"sid\":" + sid + ",\"serviceName\":\"" + serviceName + "\"}," +
                           "\"accessMethod\":{\"aid\":" + aid + ",\"accessName\":\"" + accessName + "\"}," +
                           "\"payMethod\":{\"payid\":" + payid + ",\"method\":\"" + method + "\"}," +
                           "\"payMoney\":" + payMoney + ",\"identity\":\"" + identity + "\",\"password\":\"" + password + "\"," +
                           "\"tapewidth\":\"" + tapewidth + "\",\"endDate\":\"" + endDate + "\"";
                       if (i == widthObjects.length - 1) {
                           widthsSet += "}";
                       } else {
                           widthsSet += "},";
                       }
                   }
                   widthsSet += "]";
               }
               //添加门店的基本信息
               var storeId = $("#storeId").val();
               var storeCode = $("#storeCode").val();
               if (widthObjects.length != 0 && itemObjects.length != 0) {
                   var storeMsd = "{\"storeId\":" + storeId + ",\"storeCode\":\"" + storeCode + "\"," +
                       "\"itemsSet\":" + itemsSet + ",\"widthBandSet\":" + widthsSet + "}";
                   $.ajax({
                       url: "/store/checkStore",
                       data: {"store": storeMsd},
                       dataType: "JSON",
                       type: "GET",
                       success: function (data) {
                           if (data.code = "1") {
                               window.location.href = "/store/home";
                           }
                       },
                       error: function () {
                           alert("页面数据修改失败");
                       }
                   })
               }
           }
       }
       
       //移除相应的设备信息
        function remove(itemsId) {
           var storeId = $("#store_id").val();
            $.ajax({
                url:"/store/deleteByItemsId",
                data:{"itemsId":itemsId,"storeId":storeId},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    if(data["code"]=="true"){
                        var link = "/store/content?id="+storeId;
                        window.location.href=link;
                    }
                }

            });
        }

    </script>
    <script>
        //确认宽带信息
        function confirmWidth() {
           return confirm("请确认您的宽带信息，是否要提交");
        }
        //确认门店的设备的信息
        function confirmItems() {
            var result = confirm("请确认您的设备信息，是否要提交");
            if(result){
                var addItemId = $("#myModal").find("select[name='item']").find("option:checked").val();
                var className = $("#myModal").find("select[name='className']").find("option:checked").val();
                var equipName = $("#myModal").find("select[name='equipName']").find("option:checked").val();
                var itemName = $("#myModal").find("select[name='equipName']").find("option:checked").attr("id");
                var num =  $("#num").val();

                // console.log("class--->"+className);
                // console.log("equip----->"+equipName);
                // console.log("addIteid----->"+addItemId);
                // console.log("num---->"+num);
                // console.log(typeof(num)=="undefined");

                //设备id值
                var pageItems = $("input[name='itemId']");
                //设备名称
                var pageItemsName = $("input[name='name']");

                var pageArr = new Array();

                if(pageItems.length!=0){
                    for (var i = 0; i <pageItems.length ; i++) {
                        pageArr[i] = $(pageItems[i]).val();
                    }
                    var index = $.inArray(addItemId,pageArr);
                    if(index>=0){
                        alert("该设备型号已经存在，请不要重新添加");
                        $(pageItemsName[index]).css("background","pink");
                    }else{
                        if(addItemId!="0"&&className!="0"&&equipName!="0"&&!(typeof(num)=="undefined")&&num!=null){
                              $("#additem").attr("action","/store/additem");
                             //$("#additem").submit();
                            $("#submitItem").attr("type","submit");
                        }else{
                            alert("页面信息填充有误，请重新填写");
                        }
                    }
                }else {
                    if(addItemId!="0"&&className!="0"&&equipName!="0"&&!(typeof(num)=="undefined")&&num!=null){
                        $("#additem").attr("action","/store/additem");
                        //$("#additem").submit();
                        $("#submitItem").attr("type","submit");
                    }else{
                        alert("页面信息填充有误，请重新填写");
                    }

                  // $("#additem").attr("action","/store/additem");
                  // $("#additem").submit();
                }
            }
        }

        //保存页面的门店信息(修改过的设备数量也要保存)
        function saveInfor() {
            //在门店设置div下选择tbody
            var itemsSet = "";
            var widthsSet = "";
            //设备信息
            var itemObjects = $("#itemShow .page_section_content_area .hxtbl_datalist_frame tbody tr");
            if (itemObjects.length != 0) {
                itemsSet = "[";
                for (var i = 0; i < itemObjects.length; i++) {
                    var tdArr = $(itemObjects[i]).find("td");
                    var id = tdArr.eq(1).find("input[type='hidden']").val();
                    var equipName = tdArr.eq(1).find("input[name='equipName']").val();
                    var itemId = tdArr.eq(2).find("input[type='hidden']").val();
                    var name = tdArr.eq(2).find("input[name='name']").val();
                    var num = tdArr.eq(3).find("input[name='num']").val();
                    var className = tdArr.eq(3).find("input[name='className']").val();
                    itemsSet += "{\"className\":\"" + className + "\",\"equipName\":\"" + equipName + "\",\"id\":" + id + "," +
                        "\"item\":{\"itemId\":" + itemId + ",\"name\":\"" + name + "\"}," +
                        "\"num\":" + num + "";
                    if (i == itemObjects.length - 1) {
                        itemsSet += "}";
                    } else {
                        itemsSet += "},"
                    }
                }
                itemsSet += "]";
            }
            //在门店宽带下选择
            var widthObjects = $("#widthShow .page_section_content_area tbody");

            if (widthObjects.length != 0) {
                widthsSet = "[";
                for (var i = 0; i < widthObjects.length; i++) {
                    var trArrs = $(widthObjects[i]).find("tr");
                    var wid = trArrs.eq(0).find("input[name='wid']").val();
                    var sid = trArrs.eq(0).find("select[name='servicePerson']").find("option:checked").val();
                    var serviceName = trArrs.eq(0).find("select[name='servicePerson']").find("option:checked").attr("id");
                    var aid = trArrs.eq(0).find("select[name='accessMethod']").find("option:checked").val();
                    var accessName = trArrs.eq(0).find("select[name='accessMethod']").find("option:checked").attr("id");
                    var payid = trArrs.eq(0).find("select[name='payMethod']").find("option:checked").val();
                    var method = trArrs.eq(0).find("select[name='payMethod']").find("option:checked").attr("id");
                    var payMoney = trArrs.eq(1).find("input[name='payMoney']").val();
                    var identity = trArrs.eq(1).find("input[name='identity']").val();
                    var password = trArrs.eq(1).find("input[name='password']").val();
                    var tapewidth = trArrs.eq(2).find("input[name='tapewidth']").val();
                    var endDate = trArrs.eq(2).find("input[name='endDate']").val();
                    widthsSet += "{\"wid\":" + wid + ",\"servicePerson\":{\"sid\":" + sid + ",\"serviceName\":\"" + serviceName + "\"}," +
                        "\"accessMethod\":{\"aid\":" + aid + ",\"accessName\":\"" + accessName + "\"}," +
                        "\"payMethod\":{\"payid\":" + payid + ",\"method\":\"" + method + "\"}," +
                        "\"payMoney\":" + payMoney + ",\"identity\":\"" + identity + "\",\"password\":\"" + password + "\"," +
                        "\"tapewidth\":\"" + tapewidth + "\",\"endDate\":\"" + endDate + "\"";
                    if (i == widthObjects.length - 1) {
                        widthsSet += "}";
                    } else {
                        widthsSet += "},";
                    }
                }
                widthsSet += "]";
            }
            //添加门店的基本信息
            var storeId = $("#store_id").val();
            var storeCode = $("#storeCode").val();

            var storeMsg = "{\"storeId\":"+storeId+",\"storeCode\":\""+storeCode+"\"";
            if(widthObjects.length!=0){
                storeMsg+=",\"widthBandSet\":"+widthsSet+""
            }
            if(itemObjects.length!=0){
                storeMsg+=",\"itemsSet\":"+itemsSet+""
            }
            storeMsg+="}";
            $.ajax({
                url:"/store/saveStoreInfor",
                data:{"store":storeMsg},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    if(data["code"]=="true"){
                        var link = "/store/content?id="+storeId;
                        window.location.href=link;
                    }
                }
            })
            //
        }


        //添加附件信息
        $(function () {
            $("#addFileDiv").html("");
            $("#addFile").click(function () {
               $("#addFileDiv").append('' +
                   '<p>选择文件：<input type="file" required="required" name="files"></p>')


            });
        })


    </script>
</head>
<body class="hxbgcolor_webpage">
    <div id="ContentPageDisplayArea" class="page_content_container hide_menu">
        <input type="hidden"  th:value="${storeId}" id="store_id">
        <!--表头信息-->
        <table style="table-layout:fixed;width:100%;margin-top:12px;">
            <tbody>
            <tr>
                <td width="30%">
                    <div hx_element_type="text" id="WebPageTitleContainer" style="">
                        <span hx_text_webpart__cnt="1" class="hxtxt_nowrap hxtxt_page_title" style=";text-align:left;display:inline-block;width:100%;">门店设备展示列表</span>
                    </div>
                </td>
                <td width="70%">
                    <button onclick="goback()" style="float: right" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-share-alt"></span>返回上级
                    </button>
                   <button style="float: right;" onclick="return checkSubmit()" type="button" class="btn btn-default">
                       <span class="glyphicon glyphicon-lock"></span>确认提交
                   </button>
                   <button style="float: right;" onclick="saveInfor()" class="btn btn-default">
                       <span class="glyphicon glyphicon-edit">保存信息</span>
                   </button>
                   <button style="float: right" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加设备
                   </button>
                   <button style="float:right" type="button" class="btn btn-default" data-toggle="modal" data-target="#widthModal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>宽带设置
                   </button>
                    <button style="float: right" type="button" class="btn btn-default" data-toggle="modal" data-target="#fileModal">
                        <span class="glyphicon glyphicon-plus"></span>上传附件
                    </button>

                </td>
            </tr>
            </tbody>
        </table>
        <!--门店基本信息展示-->
        <div class="page_section_container hxcontainer_shadow">
            <img class="page_section_title_decorated hxbgcolor_datalist_head" src="./content/hxpub_clear.gif">
            <div class="page_section_title_area" hx_element_type="text">
                <span class="hxtxt_nowrap hxtxt_section_title" style=";text-align:left;display:inline-block;width:100%;">门店基本信息</span>
            </div>
            <div class="page_section_content_area">
                <table style="table-layout:fixed;width:100%;">
                    <tbody>
                    <tr>
                        <td class="hxfld_container"><label class="hxtxt_caption hxtxt_nowrap" style="display:inline-block;width:24%;padding-right:10px;text-align:left">门店编码</label><span style="display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;"><input type="text" name="storeCode" id="storeCode" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly" readonly="readonly" style="text-align:left;width:100%;overflow-y:auto"></span></td>
                        <td class="hxfld_container"><label class="hxtxt_caption hxtxt_nowrap" style="display:inline-block;width:24%;padding-right:10px;text-align:left">门店名称</label><span style="display:inline-block;width:76%;z-index:100;padding-right:18px;;padding-left:1px;margin-left:-1px;"><input type="text"  name="storeName" id="storeName" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly" readonly="readonly" style="text-align:left;width:100%;overflow-y:auto"/></span></td>
                        <td class="hxfld_container"><label class="hxtxt_caption hxtxt_nowrap" style="display:inline-block;width:24%;padding-right:10px;text-align:left">门店经理</label><span style="display:inline-block;width:76%;z-index:100;padding-right:18px;;padding-left:1px;margin-left:-1px;"><input type="text"  name="marger" id="marger" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly" readonly="readonly" style="text-align:left;width:100%;overflow-y:auto"/></span></td>
                    </tr>
                    <tr>
                        <td class="hxfld_container"><label class="hxtxt_caption hxtxt_nowrap" style="display:inline-block;width:24%;padding-right:10px;text-align:left">所属市场</label><span style="display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;"><input type="text"  name="marketName"  id="marketName" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly" readonly="readonly" style="text-align:left;width:100%;overflow-y:auto"></span></td>
                        <td class="hxfld_container"><label class="hxtxt_caption hxtxt_nowrap" style="display:inline-block;width:24%;padding-right:10px;text-align:left">开店日期</label><span style="display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;"><input type="text"  name="openDate"    id="openDate" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly" readonly="readonly" style="text-align:left;width:100%;overflow-y:auto"></span></td>
                        <td class="hxfld_container"><label class="hxtxt_caption hxtxt_nowrap" style="display:inline-block;width:24%;padding-right:10px;text-align:left">闭店日期</label><span style="display:inline-block;width:76%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;"><input type="text"  name="closeDate"   id="closeDate" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly" readonly="readonly" style="text-align:left;width:100%;overflow-y:auto"></span></td>
                    </tr>
                    <tr>
                        <td hx_element_type="field" class="hxfld_container"><label class="hxtxt_caption hxtxt_nowrap" style="display:inline-block;width:24%;padding-right:10px;text-align:left">门店状态</label><span style="display:inline-block;width:76%;z-index:100;padding-right:18px;;padding-left:1px;margin-left:-1px;"><input type="text"  name="storeStatus" id="storeStatus" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly" readonly="readonly" style="text-align:left;width:100%;overflow-y:auto"></span></td>
                        <td hx_element_type="field" class="hxfld_container" colspan="2"><label class="hxtxt_caption hxtxt_nowrap" style="display:inline-block;width:12%;padding-right:10px;text-align:left">门店地址</label><span style="display:inline-block;width:88%;z-index:100;padding-right:18px;padding-left:1px;margin-left:-1px;"><input type="text" name="address" id="address" class="hxinputbox hxborder_inputbox hxbgcolor_inputbox_readonly" readonly="readonly" style="text-align:left;width:100%;overflow-y:auto"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--宽带信息展示-->
        <div id="widthShow"></div>
        <!--设备分类信息展示-->
        <div id="itemShow"></div>
        <!--附件的下载-->
        <div id="fileShow"></div>


        <!--设置宽带的信息-->
        <div class="modal fade" id="widthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form method="post" th:action="@{/store/width}" th:autocomplete="off">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">设置宽带</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden"  name="storeId" th:value="${storeId}" id="storeId">
                            <label for="identity">账号</label>
                            <input class="form-control" type="text" placeholder="账号" name="identity" id="identity" required="true"/>
                            <label for="password">密码</label>
                            <input class="form-control" type="text" placeholder="密码" name="password" id="password" required="true"/>
                            <label for="servicePerson">宽带运营商</label>
                            <select class="form-control" name="servicePerson" id="servicePerson"></select>
                            <label>接入方式</label>
                            <select class="form-control" name="accessMethod" id="accessMethod"></select>
                            <label>付款方式</label>
                            <select class="form-control" name="payMethod" id="payMethod"></select>
                            <label>付款金额</label>
                            <input class="form-control" type="number" placeholder="付款金额" name="payMoney" id="payMoney" required="true"/>
                            <label>带宽</label>
                            <input class="form-control" type="text" placeholder="带宽" name="tapewidth" id="tapewidth" required="true"/>
                            <label>到期日期</label>
                            <input class="form-control" type="date" placeholder="到期日期" name="endDate" id="endDate" required="true"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="removeSelect()" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            <button type="submit" onclick="return confirmWidth()" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--向门店添加设备信息-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form method="post" th:action="@{/store/additem}" th:autocomplete="off" id="additem">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">设备添加</h4>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="hidden"  name="storeId" th:value="${storeId}">
                            <label>设备类别</label>
                            <div id="classficationSelect"></div>
                            <div id="equipNameSelect"></div>
                            <div id="itemSelect"></div>
                            <label>设备数量</label>
                            <input type="number" class="form-control" placeholder="设备数量" id="num" name="num" required="true">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            <button type="button" id="submitItem" onclick="return confirmItems()" class="btn btn-primary">提交</button>
                        </div>

                    </div>
                </div>

            </form>
        </div>


        <!--添加附件按钮-->
        <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form method="post" th:action="@{/store/addFiles}" th:autocomplete="off" id="addFileBtn" enctype="multipart/form-data">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">上传附件</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class="form-control" name="storeId" th:value="${storeId}">
                            <p>选择文件:<input type="file" required="required" name="files"/></p>
                            <button type="button" class="btn btn-primary" id="addFile">添加附件</button>
                            <div id="addFileDiv"></div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>

            </form>


        </div>

    </div>

</body>
</html>
