<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>设备变更查询页面</title>
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>
        $(function () {
               var storeId = $("#storeId").val();
                   $.ajax({
                       url:"/store/storeChangeList",
                       data:{"storeId":storeId},
                       type:"GET",
                       dataType:"JSON",
                       success:function (data) {
                           if(data.length!=0){
                             console.log(data);
                               for (var i = 0; i < data.length; i++) {
                                   $("tbody").append('<tr>' +
                                       '<td>'+data[i].storeName+'</td>' +
                                       '<td>'+data[i].typeName+'</td>' +
                                       '<td>'+data[i].changePerson+'</td>'+
                                       '<td>'+data[i].changeDate+'</td>'+
                                       '<td>'+data[i].changeReason+'</td>'+
                                       '</tr>');
                               }

                           }else{
                               alert("该门店没有设备的更新");
                           }
                       },
                       error:function () {
                           alert("数据加载失败")
                       }
                   });
        })
        function goback() {
            history.go(-1);
        }
    </script>
</head>
<body>
       <div class="container">
           <input type="hidden" class="form-control" id="storeId" th:value="${storeId}">
           <table class="table table-striped">
               <caption>设备更新展示列表</caption>
               <thead>
                   <tr>
                       <th>门店名称</th>
                       <th>设备名称</th>
                       <th>变更人</th>
                       <th>变更时间</th>
                       <th>变更原因</th>
                   </tr>
               </thead>
               <tbody></tbody>
           </table>
           <div class="col-sm-offset-6">
               <button type="button" class="btn btn-default" onclick="goback()">返回</button>
           </div>
       </div>
</body>
</html>