<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>门店具体设备展示页面</title>
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>
        //填充门店页面
        $(function () {
            var storemsg=$("#storemsg").val();
            var objJson= JSON.parse(storemsg); //将json字符串转化为json对象
            $("#showTbody").append('' +
                '<tr>' +
                        '<td>'+objJson.name+'</td>'+
                        '<td>'+objJson.code+'</td>'+
                        '<td>'+objJson.address+'</td>'+
                        '<td>'+objJson.manager+'</td>'+
                        '<td>'+objJson.startDate+'</td>'+
                        '<td>'+objJson.marketEntity.name+'</td>'+
                        '<td id="thData">'+objJson.marketIT+'</td>'+
                '</tr>'
            );
            if(objJson.widthBand!=null){
                $("#trWidth").html("");
                $("#trWidth").append(
                    '<tr>' +
                    '<th>门店名称</th>'+
                    '<th>门店编码</th>'+
                    '<th>门店地址</th>'+
                    '<th>门店经理</th>'+
                    '<th>开店时间</th>'+
                    '<th>所属市场</th>'+
                    '<th>市场IT</th>'+
                    '<th>运营商</th>'+
                    '<th>接入方式</th>'+
                    '<th>宽带账号</th>'+
                    '<th>密码</th>'+
                    '<th>带宽</th>'+
                    '<th>付款方式</th>'+
                    '<th>付款金额</th>'+
                    '<th>到期日期</th>'+
                    '</tr>'
                    );
                 $("#showTbody").html("");
                 $("#showTbody").append('' +
                    '<tr>' +
                    '<td>'+objJson.name+'</td>'+
                    '<td>'+objJson.code+'</td>'+
                    '<td>'+objJson.address+'</td>'+
                    '<td>'+objJson.manager+'</td>'+
                    '<td>'+objJson.startDate+'</td>'+
                    '<td>'+objJson.marketEntity.name+'</td>'+
                    '<td>'+objJson.marketIT+'</td>'+
                    '<td>'+objJson.widthBand.servicePerson.serviceName+'</td>'+
                    '<td>'+objJson.widthBand.accessMethod.access+'</td>'+
                    '<td>'+objJson.widthBand.identity+'</td>'+
                    '<td>'+objJson.widthBand.password+'</td>'+
                    '<td>'+objJson.widthBand.tapeWidth+'</td>'+
                    '<td>'+objJson.widthBand.payMethod.method+'</td>'+
                    '<td>'+objJson.widthBand.payMoney+'</td>'+
                    '<td>'+objJson.widthBand.endDate+'</td>'+
                    '</tr>'
                );


            }
        });
        //填充门店设备,型号
        $(function () {
            $.ajax({
                url:"/equip/allList",
                type:"GET",
                dataType:"JSON",
                success:function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#epname").append(
                            '<option id="'+data[i].name+'" value="'+data[i].id+'">'+data[i].name+'</option>'
                        );
                        for (var j = 0; j <data[i].equipTypes.length ; j++) {
                            $("#eptype").append(
                                '<option id="'+data[i].equipTypes[j].typeName+'" value="'+data[i].equipTypes[j].id+'">'+data[i].equipTypes[j].typeName+'</option>'
                            )
                        }
                    }

                },
                error:function () {
                    alert("设备列表加载失败");
                }
            });
        });
        //下拉框联动效果
       function changeName() {
           var id = $("#epname").val();
           $.ajax({
               url:"/equip/findById",
               data:{"id":id},
               dataType:"JSON",
               type:"GET",
               success:function (data) {
                   $("#eptype").html("");
                   console.log(data);
                   for (var i = 0; i <data.equipTypes.length ; i++) {
                       $("#eptype").append(
                           '<option id="'+data.equipTypes[i].typeName+'" value="'+data.equipTypes[i].id+'">'+data.equipTypes[i].typeName+'</option>'
                       )
                   }
               }
           });
       }
       $(function () {
           var storeId = $("#SID").val();
           $.ajax({
               url:"/store/storeTypeList",
               data:{"storeId":storeId},
               type:"GET",
               dataType:"JSON",
               success:function (data) {
                   if(data.length!=0){
                          $("#showHeader").html("");
                          $("#showHeader").append('' +
                              '<tr>' +
                                 '<th>设备型号</th>' +
                                 '<th>设备数量</th>' +
                                 '<th>设备变更</th>' +
                              '</tr>');
                   }
                   for ( var i = 0; i <data.length ;i++) {
                       $.ajax({
                           url:"/store/findByTypeId",
                           data:{"typeId":data[i].typeId},
                           type:"GET",
                           dataType:"JSON",
                           async:false,
                           success:function (typeData) {
                               $("#show").append('<tr>' +
                                    '<td>'+typeData.typeName+'</td>'+
                                    '<td>'+data[i].num+'</td>' +
                                    '<td><button type="button" class="btn btn-default">变更</button></td>'+
                                    '</tr>');
                           }
                       });
                   }
               }
           });
       });
        $(document).on("click","#returnBt",function () {
           $.ajax({
               url:"/store/home"
           });
       });
        //加载餐厅状态
        $(function () {
            $.ajax({
                url:"/store/storeStatusList",
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    for (var i = 0; i <data.length ; i++) {
                        $("select#storeStatus").append(
                            '<option id="'+data[i].name+'" value="'+data[i].id+'">'+data[i].name+'</option>'
                        );
                    }
                }
            });
        });
        //加载运行商  servicePersonList
        $(function () {
            $.ajax({
                url:"/store/servicePersonList",
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    for (var i = 0; i <data.length ; i++) {
                        $("select#servicePerson").append(
                            '<option id="'+data[i].serviceName+'" value="'+data[i].id+'">'+data[i].serviceName+'</option>'
                        );
                    }
                }
            });
        });
        //加载接入方式  accessMethodList
        $(function () {
            $.ajax({
                url:"/store/accessMethodList",
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    for (var i = 0; i <data.length ; i++) {
                        $("select#accessMethod").append(
                            '<option id="'+data[i].access+'" value="'+data[i].id+'">'+data[i].access+'</option>'
                        );
                    }
                }
            });
        });
        //加载付款方式  payMethod
        $(function () {
            $.ajax({
                url:"/store/payMethodList",
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    for (var i = 0; i <data.length ; i++) {
                        $("select#payMethod").append(
                            '<option id="'+data[i].method+'" value="'+data[i].id+'">'+data[i].method+'</option>'
                        );
                    }
                }
            });
        });


    </script>
</head>
<body>
 <div class="container">
     <input type="hidden" th:value="${StoreMsg}" id="storemsg">
     <input type="hidden" th:value="${StoreId}" id="SID">
     <!--返回首页列表-->
     <table class="table table-striped">
         <div style="float:right; text-decoration:none; font-weight:bold; ">
             <a th:href="@{/store/home}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>返回门店列表页</a>
         </div>
         <caption>餐厅设备展示</caption>
         <thead id="trWidth">
                <tr>
                    <th>门店名称</th>
                    <th>门店编码</th>
                    <th>门店地址</th>
                    <th>门店经理</th>
                    <th>开店时间</th>
                    <th>所属市场</th>
                    <th>市场IT</th>
                </tr>
         </thead>
         <tbody id="showTbody"></tbody>
     </table>

     <!--新增按钮-->
     <div>
         <button type="button" class="btn btn-default" id="addTypes" data-toggle="modal" data-target="#myModal">
             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加设备
         </button>
         <button type="button" class="btn btn-default" id="widthAdd" data-toggle="modal" data-target="#widthModal">
             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>设置宽带
         </button>
     </div>
     <!--加载设备以及型号-->
     <div>
         <table class="table table-striped">
             <thead id="showHeader">
             </thead>
             <tbody id="show">
             </tbody>
         </table>
     </div>
     <!--弹出的新增模态窗口-->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <form method="post" id="addEquip" th:action="@{/store/addEquip}">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">添加设备</h4>
                      </div>
                      <div class="modal-body">
                          <input class="form-control"  name="storeId"  type="hidden" th:value="${StoreId}">
                          <table class="table">
                              <thead>
                              <tr>
                                  <th>设备名称</th>
                                  <th>设备型号</th>
                                  <th>设备数量</th>
                              </tr>
                              </thead>
                              <tbody id="modalTbody">
                                  <th>
                                      <select class="form-control" onchange="changeName()" id="epname" name="equipEntitySet">
                                          <option value="0">--请选择</option>
                                      </select>
                                  </th>
                                  <th>
                                      <select class="form-control" id="eptype" name="typeId">
                                          <option value="0">--请选择</option>
                                      </select>
                                  </th>
                                  <th id="epnum">
                                      <input class="form-control" type="text" name="num">
                                      <input class="form-control" type="hidden" name="store_status" value="2">
                                  </th>
                              </tbody>
                          </table>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                          <button type="submit" class="btn btn-primary">提交</button>
                      </div>
                  </div>
              </div>
          </form>
     </div>
     <div class="modal fade" id="widthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <form method="post" th:action="@{/store/storeWidth}">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h4 class="modal-title">设置宽带</h4>
                     </div>
                     <div class="modal-body">
                         <input class="form-control"  name="storeId"  type="hidden" th:value="${StoreId}">
                         <label for="servicePerson">宽带运行商</label>
                         <select class="form-control" name="servicePerson" id="servicePerson"></select>
                         <label for="accessMethod">接入方式</label>
                         <select class="form-control" name="accessMethod" id="accessMethod"></select>
                         <label for="identity">账号</label>
                         <input class="form-control" type="text" placeholder="账号" name="identity" id="identity" required="true"/>
                         <label for="password">密码</label>
                         <input class="form-control" type="text" placeholder="密码" name="password" id="password" required="true"/>
                         <label for="tapeWidth">带宽</label>
                         <input class="form-control" type="text" placeholder="带宽" name="tapeWidth" id="tapeWidth" required="true"/>
                         <label for="payMethod">付款方式</label>
                         <select class="form-control" id="payMethod" name="payMethod"></select>
                         <label for="payMoney">付款金额</label>
                         <input class="form-control" type="text" placeholder="付款金额" name="payMoney" id="payMoney" required="true"/>
                         <label for="endDate">到期日期</label>
                         <input type="date" class="form-control"  pattern="yyyy-MM-dd" placeholder="到期日期" name="endDate" id="endDate" required="true"/>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                         <button type="submit" class="btn btn-primary">提交</button>
                     </div>
                 </div>
             </div>
         </form>
     </div>
 </div>
</body>
</html>

