<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>修改门店信息</title>
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>
        //修改宽带信息
        $(function () {
            var storeId = $("#store_id").val();
            $.ajax({
                url: "/store/findById",
                type: "GET",
                dataTyPe: "JSON",
                data: {"id": storeId},
                success: function (data) {
                    $("#hiddenAppend").html("");
                    if (data.widthBand != null) {
                        $("#hiddenAppend").append(
                            '<div class="form-group">' +
                            '<label for="servicePerson" class="col-md-3 control-label">宽带运行商</label>' +
                            '<div class="col-md-6">' +
                            '<input type="hidden" class="form-control" name="wid" id="widthBandId"/>' +
                            '<select class="form-control" id="servicePerson" name="servicePerson"></select>' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="accessMethod" class="col-md-3 control-label">接入方式</label>' +
                            '<div class="col-md-6">' +
                            '<select class="form-control" id="accessMethod" name="accessMethod"></select>' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="identity" class="col-md-3 control-label">账号</label>' +
                            '<div class="col-md-6">' +
                            '<input class="form-control" type="text" id="identity" name="identity">' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="password" class="col-md-3 control-label">密码</label>' +
                            '<div class="col-md-6">' +
                            '<input class="form-control" type="text" id="password" name="password"/>' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="tapeWidth" class="col-md-3 control-label">带宽</label>' +
                            '<div class="col-md-6">' +
                            '<input type="text" class="form-control" name="tapeWidth" id="tapeWidth"/>' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="payMethod" class="col-md-3 control-label">付款方式</label>' +
                            '<div class="col-md-6">' +
                            '<select class="form-control" id="payMethod" name="payMethod"></select>' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="payMoney" class="col-md-3 control-label">付款金额</label>' +
                            '<div class="col-md-6">' +
                            '<input type="text" class="form-control" name="payMoney" id="payMoney">' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="endDate" class="col-md-3 control-label">到期日期</label>' +
                            '<div class="col-md-6">' +
                            '<input type="Date" class="form-control" name="endDate" id="endDate">' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                        )
                    }
                }
            });
        });
        //回显所属市场
        $(function () {
            var upmarketEntity = $("#upmarketEntity").val();
            $.ajax({
                url:"/store/marketList",
                type:"GET",
                dataType:"JSON",
                success:function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("select#marketEntity").append(
                            '<option id="'+data[i].name+'" value="'+data[i].id+'">'+data[i].name+'</option>'
                        );
                        if(upmarketEntity == data[i].name){
                            $("#marketEntity").find("option:contains('"+data[i].name+"')").attr("selected",true);
                        }
                    }
                }
            });
        });
        //回显数据
        $(function () {
            var storeId = $("#store_id").val();
            $.ajax({
                url: "/store/findById",
                type: "GET",
                dataTyPe: "JSON",
                data: {"id": storeId},
                success:function (data) {
                    console.log(data);
                    if (data.widthBand != null) {
                        $("#widthBandId").val(data.widthBand.wid);
                        $("#identity").val(data.widthBand.identity);
                        $("#password").val(data.widthBand.password);
                        $("#tapeWidth").val(data.widthBand.tapeWidth);
                        $("#payMoney").val(data.widthBand.payMoney);
                        $("#endDate").val(data.widthBand.endDate);
                    }
                    var serviceName  = data.widthBand.servicePerson.serviceName;
                    var access = data.widthBand.accessMethod.access;
                    var method =  data.widthBand.payMethod.method;
                    //回显宽带运行商
                    $.ajax({
                        url:"/store/servicePersonList",
                        dataType:"JSON",
                        type:"GET",
                        success:function (data) {
                            for (var i = 0; i <data.length ; i++) {
                                $("select#servicePerson").append(
                                    '<option id="'+data[i].serviceName+'" value="'+data[i].id+'">'+data[i].serviceName+'</option>'
                                );
                                if(serviceName == data[i].serviceName){
                                    $("#servicePerson").find("option:contains('"+data[i].serviceName+"')").attr("selected",true);
                                }
                            }
                        }
                    });
                    //回显接入方式
                    $.ajax({
                        url:"/store/accessMethodList",
                        dataType:"JSON",
                        type:"GET",
                        success:function (data) {
                            for (var i = 0; i <data.length ; i++) {
                                $("select#accessMethod").append(
                                    '<option id="'+data[i].access+'" value="'+data[i].id+'">'+data[i].access+'</option>'
                                );
                                if(access == data[i].access){
                                    $("#accessMethod").find("option:contains('"+data[i].access+"')").attr("selected",true);
                                }
                            }
                        }
                    });
                    //回显付款方式
                    $.ajax({
                        url:"/store/payMethodList",
                        dataType:"JSON",
                        type:"GET",
                        success:function (data) {
                            for (var i = 0; i <data.length ; i++) {
                                $("select#payMethod").append(
                                    '<option id="'+data[i].method+'" value="'+data[i].id+'">'+data[i].method+'</option>'
                                );
                                if( method== data[i].method ){
                                    $("#payMethod").find("option:contains('"+data[i].method+"')").attr("selected",true);
                                }
                            }
                        }
                    });

                }
            })
        });
    </script>
</head>
<body>
   <div class="container">
       <input type="hidden" name="id" id="store_id" th:value="${storeObj.id}">
       <input type="hidden" name="marketEntity" id="upmarketEntity" th:value="${storeObj.marketEntity.name}">
       <h4>门店信息展示</h4>
       <form  class="form-horizontal" role="form" method="post" th:action="@{/store/toupdate}">
           <div class="form-group">
               <label for="name" class="col-md-3 control-label">门店名称</label>
               <div class="col-md-6">
                   <input type="hidden" name="id" id="storeId" th:value="${storeObj.id}">
                   <input type="text" class="form-control" name="name" id="name" th:value="${storeObj.name}">
               </div>
           </div>
           <div class="form-group">
               <label for="code" class="col-md-3 control-label">门店编码</label>
               <div class="col-md-6">
                   <input type="text" class="form-control" name="code" id="code" th:value="${storeObj.code}">
               </div>
           </div>
           <div class="form-group">
               <label for="address" class="col-md-3 control-label">门店地址</label>
               <div class="col-md-6">
                   <input type="text" class="form-control" name="address" id="address" th:value="${storeObj.address}">
               </div>
           </div>
           <div class="form-group">
               <label for="manager" class="col-md-3 control-label">门店经理</label>
               <div class="col-md-6">
                   <input type="text" class="form-control" name="manager" id="manager" th:value="${storeObj.manager}">
               </div>
           </div>
           <div class="form-group">
               <label for="startDate" class="col-md-3 control-label">开店时间</label>
               <div class="col-md-6">
                   <input type="Date" class="form-control" name="startDate" id="startDate" th:value="${storeObj.startDate}">
                   <input type="hidden" class="form-control" name="storeStatus" id="storeStatus" th:value="2">
               </div>
           </div>
           <div class="form-group">
               <label for="marketIT" class="col-md-3 control-label">市场IT</label>
               <div class="col-md-6">
                   <input class="form-control" type="text" name="marketIT" id="marketIT" th:value="${storeObj.marketIT}"/>
               </div>
           </div>
           <div class="form-group">
               <label for="marketEntity" class="col-md-3 control-label">所属市场</label>
               <div class="col-md-6">
                   <select class="form-control" id="marketEntity" name="marketEntity"></select>
               </div>
           </div>
           <div id="hiddenAppend"></div>
           <div class="form-group">
               <div class="col-sm-offset-3 col-sm-6">
                   <button type="submit" class="btn btn-default">提交</button>
               </div>
           </div>
       </form>
   </div>
</body>
</html>