<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>呷哺呷哺IT设备管理系统</title>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script src="home/jquery.js"></script>
    <script src="home/pintuer.js"></script>
    <link rel="stylesheet" href="home/pintuer.css">
    <link rel="stylesheet" href="home/admin.css">
    <script>
        $(function () {
            var loginName=$("#loginName").val();
            $.ajax({
                url: "/person/findByUserName",
                type: "GET",
                data: {"userName": loginName},
                dataType: "JSON",
                success: function (data) {
                    var roleName = data.userType.name;
                    if(roleName=="市场IT"){
                         $("#person").hide();
                    }

                },
                error:function () {
                    alert("主菜单加载失败");
                }
            });
        });
    </script>
    <style>
        a:link{text-decoration: none}
        a:visited{text-decoration: none}
        a:hover{text-decoration: none}
        a:active{text-decoration: none}
    </style>
</head>
<body style="background-color:#f2f9fd;">
 <input class="form-control" type="hidden" id="loginName" th:value="${session.userName}">
   <div class="header bg-main">
      <div class="logo margin-big-left fadein-top">
         <h1><img src="images/呷哺黑logo.png"  height="50" alt="">IT设备管理系统</h1>
      </div>
      <div class="head-l"><a class="button button-little bg-green" href="">个人信息</a>  &nbsp;&nbsp;
          <a class="button button-little bg-red" th:href="@{/login}">
             <span class="icon-power-off"></span> 退出登录
          </a>
      </div>
  </div>
  <div class="leftnav">
    <div class="leftnav-title">
         <strong><span class="icon-list"></span>菜单列表</strong>
    </div>
    <div id="append">
        <div id="person">
            <h2><span class="icon-pencil-square-o"></span>人员管理</h2>
            <ul>
                <li><a href="/person/home" target="right"><span class="icon-caret-right"></span>人员列表</a></li>
                <li><a href="/role/home" target="right"><span class="icon-caret-right"></span>角色列表</a></li>
            </ul>
        </div>
        <div id="item">
            <h2><span class="icon-pencil-square-o"></span>设备管理</h2>
            <ul>
                <li>
                    <a href="/classfication/home" target="right"><span class="icon-caret-right"></span>设备类别</a>
                </li>
                <li>
                    <a href="/equipname/home" target="right"><span class="icon-caret-right"></span>设备名称</a>
                </li>
                <li>
                    <a href="/item/home" target="right"><span class="icon-caret-right"></span>设备型号</a>
                </li>
            </ul>
        </div>
        <div id="store">
            <h2><span class="icon-pencil-square-o"></span>门店管理</h2>
            <ul>
                <li><a href="/store/home" target="right"><span class="icon-caret-right"></span>门店信息</a></li>
            </ul>
        </div>
    </div>



</div>
<script type="text/javascript">
    $(function(){
        $(".leftnav h2").click(function(){
            $(this).next().slideToggle(200);
            $(this).toggleClass("on");
        })
        $(".leftnav ul li a").click(function(){
            $("#a_leader_txt").text($(this).text());
            $(".leftnav ul li a").removeClass("on");
            $(this).addClass("on");
        })

        $(".icon-home").click(function(){
            $("#a_leader_txt").text("所有公告");
            $(".leftnav ul li a").removeClass("on");
            $(this).addClass("on");
        })

    });
</script>
 <ul class="bread">
    <li><a href="/info" target="right" class="icon-home"> 首页</a></li>
    <li><a href="/info" target="right" id="a_leader_txt">公告信息</a></li>
 </ul>
 <div class="admin">
    <iframe scrolling="auto" rameborder="0" src="/info" name="right" width="100%" height="100%"></iframe>
 </div>
 <div style="text-align:center;"></div>
</body>
</html>