<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>门店信息管理平台登录页面</title>
    <link href="/loginstyle/login.css" rel="stylesheet" type="text/css">
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script>
        //解决浏览器中自动填充的用户名以及密码
        //input type='password'且前面有个属性是input type='text'这样浏览器将会自动填充
        //解决方法是：将页面中input type='password'的属性设置为text。然后在页面聚焦的时候，改变属性为password
        $(function(){
            $("[flag='password']").focus(function(){
                $(this).attr("type","password");
            });
        });
        // $(document).ready(function () {
        //     $(document).ajaxComplete(function(event,obj,settings){
        //         if (obj.responseText == 'timeout') { //超时标识
        //             location.href='/login'; //跳转到登录页面
        //         }
        //     });
        // });
        //
        // $(function () {
        //     //全局的ajax访问，处理ajax清求时sesion超时
        //     $.ajaxSetup({
        //         contentType: "application/x-www-form-urlencoded;charset=utf-8",
        //         complete: function (XMLHttpRequest, textStatus) {
        //             var sessionstatus = XMLHttpRequest.getResponseHeader("sessionstatus"); // 通过XMLHttpRequest取得响应头，sessionstatus，
        //             if (sessionstatus == "timeout") {
        //                 // 如果超时就处理 ，指定要跳转的页面
        //                 window.location.replace("/login");
        //             }
        //         }
        //
        //     });
        // });
    </script>
    <script>
        // if (top != window)
        //     top.location.href = window.location.href;

        if( window.parent != window ){
            window.parent.location.href = window.location.href;
        }
    </script>
</head>

<body>
    <div class="login_box">
        <div class="login_l_img">
            <img src="./loginstyle/login-img.png">
        </div>
        <div class="login">
            <div class="login_logo">
                <a href="">
                    <img src="/loginstyle/login_logo.png">
                </a>
            </div>
            <div class="login_name">
                <p>门店信息管理平台</p>
            </div>
            <form method="post" th:action="@{/login}">
                <input name="username" type="text" th:autocomplete="off" placeholder="请输入用户名">
                <input name="password" flag="password" type="text"  th:autocomplete="new-password" id="password" placeholder="请输入密码">
                <input value="登录" style="width:100%;" type="submit">
            </form>
        </div>
    </div>
</body>
</html>