<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT设备管理系统</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="header Cgreen">
    <div class="wrapper clearfix">
        <h1 style="color: dimgray">IT设备管理系统</h1>
    </div>
</div>
<div class="content" style="height: 549px;">
    <div class="wrapper">
        <img class="bg1" src="/style/bg1.png">
        <div class="loginBox">
            <div class="logo"></div>
            <div class="formDiv">
                <form method="post" th:action="@{/login}">
                    <div>
                        <input type="text" name="username" class="form-control" placeholder="请输入用户名">
                    </div>
                    <div>
                        <input type="password"  class="form-control" name="password" placeholder="请输入密码">
                    </div>
                    <div>
                        <input type="submit" class="form-control" value="登录">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="wrapper">
        <span>呷哺呷哺餐饮管理有限公司</span>
    </div>
</div>
</body>
</html>