<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>设备类别展示页面</title>
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <style>
        #page {
            margin-top: 10px;
        }

        #page .curr-page {
            background-color: #337AB7;
            color: white;
        }

        #page .page-btn:hover, #page .prev:hover, #page .next:hover {
            background-color: #337AB7;
            color: white;
        }
    </style>
    <script>
        var page = {
            currPage: 1,
            totalPage: 0,
            pageLength: 4,
            startPage: 1,
            endPage: 4,   //endPage与pageLength保持一致
            pageSize: 5
        };
        //填充页面
        $(function () {
            $.ajax({
                url:"/classfication/findAllList",
                type: "GET",
                dataType: "JSON",
                data: {"page": page.currPage, "pageSize": page.pageSize, "searchName": ""},
                success:function (data) {
                    page.totalPage = data.totalPages;
                    //初始化页面按钮
                    if (data.totalPages > page.pageLength) {
                        addButtons(page.startPage, page.pageLength);
                    } else {
                        addButtons(page.startPage, data.totalPages);
                    }
                    pageIteration(page.currPage);
                    isDisabled(page.currPage, data.totalPages);

                    for (i = 0; i < data.content.length; i++) {
                        $("tbody").append('<tr>' +
                            '<td>' + data.content[i].name + '</td>' +
                            '<td>' + data.content[i].publicStatus.name + '</td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].classId + ')" ' +
                            'data-target="#upmyModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                    }

                },
                error:function () {
                    alert("设备列表加载失败");
                }
            });
        });

        //新增设备类别判断
        $(function () {
            //在新增设备时，添加鼠标失去事件
            $("#name").on('blur',function () {
                //设备类别名称
                var className = $("#name").val();
                $.ajax({
                    url:"/classfication/findByName",
                    data:{"className":className},
                    type:"GET",
                    dataType:"JSON",
                    success:function (data) {
                        $("#errorMsg").html("");
                        $("#addBtn").attr("type","button");
                        if(data["code"]=="true"){
                            $("#errorMsg").html("该设备类别已经存在，请不要重复输入");
                        }else{
                            $("#formData").attr("action","/classfication/save");
                            $("#addBtn").attr("type","submit");
                        }
                    }
                });
            });
        });
        <!--加载公共状态列表-->
        $(function () {
            $.ajax({
                url:"/person/statusList",
                type:"GET",
                dataType:"JSON",
                success:function (data) {
                    //console.log(data);
                    for(i=0;i<data.length;i++){
                        $("select#uppublicStatus").append(
                            '<option id="' + data[i].name + '" value="' + data[i].id + '">' + data[i].name + '</option>'
                        );
                    }
                },
                error:function () {
                    alert("状态列表加载失败");
                }
            });
        });

        //修改设备类别
        function updateBtn(id) {
            $.ajax({
                url:"/classfication/findById",
                data:{"id":id},
                type:"GET",
                dataType:"JSON",
                success:function (data) {
                    $("#errorMsg").html("");
                    $("#check").html("");
                    $("#PID").html("");
                    //upmodalBody
                    $("#upmodalBody").append('<div id="PID"></div>');
                    $("#PID").append('' +
                        '<input  class="form-control" name="classId" id="classficationId" type="hidden" value="' + data.classId + '"/>');
                    $("#upname").val(data.name);

                    $("#check").append('' +
                        '<input type="hidden" id="checkvalue" class="form-control" value="'+data.name+'">');
                    //公共状态
                    var publicStatusName=data.publicStatus.name;
                    <!--对下拉框的数据进行回显-->
                    if (publicStatusName == "启用") {
                        $("#uppublicStatus").find("option:contains('启用')").attr("selected", true);
                    } else if (publicStatusName == "禁用") {
                        $("#uppublicStatus").find("option:contains('禁用')").attr("selected", true);
                    }

                    $("#upBtn").click(function () {
                        var values = $("#checkvalue").val();
                        var className = $("#upname").val();
                        if(values==className){
                            $("#updateForm").attr("action","/classfication/save");
                            $("#upBtn").attr("type","submit");
                        }else{
                            $.ajax({
                                url:"/classfication/findByName",
                                data:{"className":className},
                                type:"GET",
                                dataType:"JSON",
                                success:function (data) {
                                    $("#uperrorMsg").html("");
                                    $("#upBtn").attr("type","button");
                                    if(data["code"]=="true"){
                                        $("#uperrorMsg").html("该设备类别已经存在，请不要重复输入");
                                    }else{
                                        $("#updateForm").attr("action","/classfication/save");
                                        $("#updateForm").submit();
                                        //$("#upBtn").attr("type","submit");
                                    }
                                }
                            });
                        }
                    });

                },
                error:function () {
                    alert("加载人员信息失败");
                }
            })
        }
        //搜索按钮，添加事件
        $(document).on("click","#searchButton",function ()   {
            page.currPage=1;
            page.startPage=1;
            page.endPage=4;
            var searchName = $('#search').val();
            $("tbody").html("");
            $.ajax({
                url:"/classfication/findAllList",
                type: "GET",
                dataType: "JSON",
                data: {"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                success:function (data) {

                    page.totalPage = data.totalPages;
                    //初始化按钮，即第一次网页面上添加按钮
                    if (data.totalPages > page.pageLength) {
                        addButtons(page.startPage, page.pageLength);
                    } else {
                        addButtons(page.startPage, data.totalPages);
                    }
                    pageIteration(page.currPage);
                    isDisabled(page.currPage, data.totalPages);

                    for (i = 0; i < data.content.length; i++) {
                        $("tbody").append('<tr>' +
                            '<td>' + data.content[i].name + '</td>' +
                            '<td>' + data.content[i].publicStatus.name + '</td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].classId + ')" ' +
                            'data-target="#myModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                    }


                },
                error:function () {
                    alert("搜索按钮加载失败");
                }
            });
        });
        //对上一页添加点击事件
        $(document).on("click", "#page .prev", function () {
            searchName = $('#search').val();
            page.currPage = parseInt(page.currPage) - 1;
            curr_page = page.currPage;
            $("tbody").html("");
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url:"/classfication/findAllList",
                type: "GET",
                dataType: "JSON",
                data: {"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                success:function (data) {
                    //初始化按钮，即第一次网页面上添加按钮
                    page.totalPage = data.totalPages;

                    for (i = 0; i < data.content.length; i++) {
                        $("tbody").append('<tr>' +
                            '<td>' + data.content[i].name + '</td>' +
                            '<td>' + data.content[i].publicStatus.name + '</td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].classId + ')" ' +
                            'data-target="#myModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                    }


                },
                error:function () {
                    alert("搜索按钮加载失败");
                }
            });
        });
        //对页码添加点击事件
        $(document).on("click", ".page-btn", function () {
            searchName = $('#search').val();
            $this = $(this);
            $("tbody").html("");
            page.currPage = parseInt($this.text());
            curr_page = page.currPage;
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url:"/classfication/findAllList",
                type: "GET",
                dataType: "JSON",
                data: {"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                success:function (data) {
                    page.totalPage = data.totalPages;
                    for (i = 0; i < data.content.length; i++) {
                        $("tbody").append('<tr>' +
                            '<td>' + data.content[i].name + '</td>' +
                            '<td>' + data.content[i].publicStatus.name + '</td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].classId + ')" ' +
                            'data-target="#myModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                    }

                },
                error:function () {
                    alert("搜索按钮加载失败");
                }
            });
        });
        //对下一页添加点击事件
        $(document).on("click", "#page .next", function () {
            searchName = $('#search').val();
            page.currPage = parseInt(page.currPage) + 1;
            $("tbody").html("");
            curr_page = page.currPage;
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url:"/classfication/findAllList",
                type: "GET",
                dataType: "JSON",
                data: {"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                success:function (data) {

                    page.totalPage = data.totalPages;
                    //禁用"上一页"按钮，因为默认是第一页，第一页没有上一页
                    isDisabled(page.currPage, data.totalPages);
                    for (i = 0; i < data.content.length; i++) {
                        $("tbody").append('<tr>' +
                            '<td>' + data.content[i].name + '</td>' +
                            '<td>' + data.content[i].publicStatus.name + '</td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].classId + ')" ' +
                            'data-target="#myModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                    }

                },
                error:function () {
                    alert("搜索按钮加载失败");
                }
            });
        });
        //填充公共状态
        $(function () {
            $.ajax({
                url:"/person/statusList",
                type:"GET",
                dataType:"JSON",
                success:function (data) {
                    //console.log(data);
                    for(i=0;i<data.length;i++){
                        $("select#publicStatus").append(
                            '<option id="' + data[i].name + '" value="' + data[i].id + '">' + data[i].name + '</option>'
                        );
                    }
                },
                error:function () {
                    alert("状态列表加载失败");
                }
            });
        });
        //添加分页插件，根据总页数来添加按钮
        function addButtons(startPage, pageLength) {
            // alert(pageLength);
            $("#page").html(" ");
            var _html = "<center><button class='btn btn-default prev' ><<上一页</button> ";
            for (var i = startPage; i < startPage + pageLength; i++) {
                _html += "<button class='btn btn-default page-btn' data-pageno=" + i + ">" + i + "</button> ";
            }
            _html += " <button class='btn btn-default next'>下一页>></button></center>";
            $("#page").html(_html);
        }
        //分页按钮迭代(最要是对"上一页"和”下一页“是否禁用的判断)
        function isDisabled(pagenum, totalpage) {
            if (totalpage == 0 || totalpage == 1) {
                $("#page .prev").attr("disabled", true);
                $("#page .next").attr("disabled", true);
            } else if (pagenum == 1) {
                $("#page .prev").attr("disabled", true);
                $("#page .next").removeAttr("disabled");
            } else if (pagenum == totalpage) {
                $("#page .next").attr("disabled", true);
                $("#page .prev").removeAttr("disabled");
            } else {
                $("#page .next").removeAttr("disabled");
                $("#page .prev").removeAttr("disabled");
            }
        }
        //按钮迭代器
        function pageIteration(currPage) {
            if (page.currPage != 1 && page.currPage == page.startPage) {
                page.startPage = page.currPage - page.pageLength / 2;
                page.endPage = page.currPage + page.pageLength / 2 - 1;
                addButtons(page.startPage, page.pageLength);
                $("#page .page-btn").eq(page.pageLength / 2).addClass("curr-page");
            } else if (page.currPage != page.totalPage && page.currPage == page.endPage) {
                page.startPage = page.currPage - page.pageLength / 2 + 1;
                page.endPage = (page.currPage + page.pageLength / 2) >= page.totalPage ? page.totalPage : (page.currPage + page.pageLength / 2);
                addButtons(page.startPage, page.pageLength / 2 + (page.endPage == page.totalPage ? (page.endPage - page.currPage) : page.pageLength / 2));
                $("#page .page-btn").eq(page.pageLength / 2 - 1).addClass("curr-page");
            }
            $("#page .page-btn").removeClass("curr-page").parent().find("[data-pageno=" + currPage + "]").addClass("curr-page");
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="col-md-7 col-xs-12">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" id="add"
                    data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增设备类别
            </button>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="input-group">
                <input type="text" id="search" class="form-control" placeholder="输入设备类别进行搜索">
                <span class="input-group-btn">
                 <button type="button" class="btn btn-primary" id="searchButton">搜 索</button>
                </span>
            </div>
        </div>
        <table class="table table-striped">
            <caption>设备类别展示列表</caption>
            <thead>
            <tr>
                <th>设备类别名称</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="page"></div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form method="post" th:action="@{/classfication/save}" id="formDate" th:autocomplete="off">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">设备类型新增</h4>
                        </div>
                        <div class="modal-body" id="modalBody">
                            <label for="name">设备类型名称</label>
                            <input class="form-control" type="text"  placeholder="设备类型名称" name="name" id="name" required="true"/>
                            <span id="errorMsg" style="font-weight: bold;color: red"></span><br/>
                            <label>设备状态</label>
                            <select class="form-control" id="publicStatus" name="publicStatus"></select>
                        </div>
                        <div class="modal-footer" id="footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            <button type="button" id="addBtn" class="btn btn-primary">新增</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="upmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form method="post" th:action="@{/classfication/updateSave}" id="updateForm" th:autocomplete="off">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">设备类型修改</h4>
                        </div>
                        <div class="modal-body" id="upmodalBody">
                            <label for="name">设备类型名称</label>
                            <input class="form-control" type="text"  placeholder="设备类型名称" name="name" id="upname" required="true"/>
                            <div id="check"></div>
                            <span id="uperrorMsg" style="font-weight: bold;color: red"></span><br/>
                            <label>设备状态</label>
                            <select class="form-control" id="uppublicStatus" name="publicStatus"></select>
                        </div>
                        <div class="modal-footer" id="upfooter">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            <button type="button" id="upBtn" class="btn btn-primary">修改</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>




    </div>

</body>
</html>