<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>设备展示主页</title>
    <link th:href="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <style>
        #page {
            margin-top: 10px;
        }

        #page .curr-page {
            background-color: #009d8e;
            color: white;
        }

        #page .page-btn:hover, #page .prev:hover, #page .next:hover {
            background-color: #009d8e;
            color: white;
        }
    </style>
    <script>
        var page = {
            currPage: 1, //当前页面，初始化为1
            totalPage: 0,//总页面，通过计算获得
            pageLength: 4,//按钮数量，可以自己把控
            startPage: 1,//当前显示的第一个按钮的值
            endPage: 4,//当前显示的最后一个按钮的值    与pageLength相同
            pageSize: 7  //一页展示多少条记录
        };
        $(function () {
           $.ajax({
               url:"/equip/findAll",
               data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": ""},
               dataType:"JSON",
               type:"GET",
               success:function (data) {
                   page.totalPage = data.totalPages;
                   //初始化页面按钮
                   if (data.totalPages > page.pageLength) {
                       addButtons(page.startPage, page.pageLength);
                   } else {
                       addButtons(page.startPage, data.totalPages);
                   }
                   pageIteration(page.currPage);
                   isDisabled(page.currPage, data.totalPages);
                   for(i = 0; i < data.content.length; i++){
                       $("tbody").append('<tr>' +
                           '<td>'+data.content[i].name+'</td>' +
                           '<td id="td'+i+'"></td>' +
                           '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].id + ')" ' +
                           'data-target="#updateModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                           '</tr>');
                       for (var j = 0; j <data.content[i].equipTypes.length;j++) {
                           $("#td"+i).append(data.content[i].equipTypes[j].typeName+",");
                       }
                   }
               },
               error:function () {
                   alert("设备列表加载失败");
               }
           });
        });
        //添加分页插件，根据总页数来添加按钮
        function addButtons(startPage, pageLength) {
            // alert(pageLength);
            $("#page").html(" ");
            var _html = "<center><button class='btn btn-default prev' ><<上一页</button> ";
            for (var i = startPage; i < startPage + pageLength; i++) {
                _html += "<button class='btn btn-default page-btn' data-pageno=" + i + ">" + i + "</button> ";
            }
            _html += " <button class='btn btn-default next'>下一页>></button></center>";
            $("#page").html(_html);
        }
        //分页按钮迭代(最要是对"上一页"和”下一页“是否禁用的判断)
        function isDisabled(pagenum, totalpage) {
            if (totalpage == 0 || totalpage == 1) {
                $("#page .prev").attr("disabled", true);
                $("#page .next").attr("disabled", true);
            } else if (pagenum == 1) {
                $("#page .prev").attr("disabled", true);
                $("#page .next").removeAttr("disabled");
            } else if (pagenum == totalpage) {
                $("#page .next").attr("disabled", true);
                $("#page .prev").removeAttr("disabled");
            } else {
                $("#page .next").removeAttr("disabled");
                $("#page .prev").removeAttr("disabled");
            }
        }
        //按钮迭代器
        function pageIteration(currPage) {
            if (page.currPage != 1 && page.currPage == page.startPage) {
                page.startPage = page.currPage - page.pageLength / 2;
                page.endPage = page.currPage + page.pageLength / 2 - 1;
                addButtons(page.startPage, page.pageLength);
                $("#page .page-btn").eq(page.pageLength / 2).addClass("curr-page");
            } else if (page.currPage != page.totalPage && page.currPage == page.endPage) {
                page.startPage = page.currPage - page.pageLength / 2 + 1;
                page.endPage = (page.currPage + page.pageLength / 2) >= page.totalPage ? page.totalPage : (page.currPage + page.pageLength / 2);
                addButtons(page.startPage, page.pageLength / 2 + (page.endPage == page.totalPage ? (page.endPage - page.currPage) : page.pageLength / 2));
                $("#page .page-btn").eq(page.pageLength / 2 - 1).addClass("curr-page");
            }
            $("#page .page-btn").removeClass("curr-page").parent().find("[data-pageno=" + currPage + "]").addClass("curr-page");
        }
       <!--新增设备-->
        $(function () {
           $("#add").click(function () {
               $("#footer").html("");
               $("#footer").append(
                   '<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>'+
                   '<button type="submit" class="btn btn-primary" id="submitBtn">新增</button>'
               );
               $("#name").val("");
               $("#typeName").val("");
           });
        });
        //新增设备类型
        $(document).on("click","#addTypes",function () {
            $("#modalBody").append(
                '<input class="form-control" type="text" placeholder="设备类型" name="typeName" required="true"/>');

        });
        //修改设备
        function updateBtn(id) {
            $.ajax({
                url:"/equip/findById",
                type:"GET",
                dataType:"JSON",
                data:{"id":id},
                success:function (data) {
                    $("#updateId").html("");
                    $("#updateId").append('<input class="form-control" type="hidden" name="id" value="'+id+'">')
                    $("#appendType").html("");
                     $("#updatename").val(data.name);
                    for (var i = 0; i <data.equipTypes.length ; i++) {
                        $("#appendType").append('' +
                            '<input type="checkbox" name="equipTypes" value="'+data.equipTypes[i].id+'"  id="ck'+i+'">'+data.equipTypes[i].typeName);
                     }
                    for (var j = 0; j <data.equipTypes.length ; j++) {
                        var chks=$("input:checkbox[name='equipTypes']");
                        for (var k = 0; k < chks.length; k++) {
                            if(data.equipTypes[j].id==chks[k].value){
                                chks[k].checked=true;
                            }
                        }
                    }

                },
                error:function () {
                    alert("修改对象加载失败");
                }
            });
        }
        //修改时，新增设备类型
        $(document).on("click","#updateTypes",function () {
            $("#updateFooter").html("");
            $("#update_addTypes").html("");
            $("#update_addTypes").append('' +
                '<input class="form-control" type="text" placeholder="设备类型" name="update_typeName" id="update_typeName"  required="true"/>' +
                '');
            $("#updateFooter").append('' +
                '<button type="submit" class="btn btn-primary" data-dismiss="modal">关闭</button>' +
                '<button type="button" class="btn btn-primary" id="upBtn">修改</button>');
        });
        $(document).on("click","#upBtn",function () {
            $("#updateDate").attr("action","/equip/updateSave");
            $("#updateDate").submit();
        });
        //搜索按钮添加点击事件
        $(document).on("click","#searchButton",function () {
            page.currPage=1;
            page.startPage=1;
            page.endPage=4;
            var searchName = $('#search').val();
            $("tbody").html("");
            $.ajax({
                url:"/equip/findAll",
                data:{"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType:"JSON",
                type:"GET",
                success:function (data) {
                    //初始化按钮，即第一次网页面上添加按钮
                    if (data.totalPages > page.pageLength) {
                        addButtons(page.startPage, page.pageLength);
                    } else {
                        addButtons(page.startPage, data.totalPages);
                    }
                    pageIteration(page.currPage);
                    //禁用"上一页"按钮，因为默认是第一页，第一页没有上一页
                    isDisabled(page.currPage, data.totalPages);
                    for(i = 0; i < data.content.length; i++){
                        $("tbody").append('<tr>' +
                            '<td>'+data.content[i].name+'</td>' +
                            '<td id="td'+i+'"></td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].id + ')" ' +
                            'data-target="#updateModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                        for (var j = 0; j <data.content[i].equipTypes.length;j++) {
                            $("#td"+i).append(data.content[i].equipTypes[j].typeName+", ");
                        }
                    }
                },
                error:function () {
                    alert("搜索加载失败");
                }
            });
        });
        //对上一页按钮添加点击事件
        $(document).on("click", "#page .prev", function () {
            searchName = $('#search').val();
            page.currPage = parseInt(page.currPage) - 1;
            curr_page = page.currPage;
            $("tbody").html("");
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url: "/equip/findAll",
                data: {"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType: "JSON",
                type: "GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    for(i = 0; i < data.content.length; i++){
                        $("tbody").append('<tr>' +
                            '<td>'+data.content[i].name+'</td>' +
                            '<td id="td'+i+'"></td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].id + ')" ' +
                            'data-target="#updateModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                        for (var j = 0; j <data.content[i].equipTypes.length;j++) {
                            $("#td"+i).append(data.content[i].equipTypes[j].typeName+", ");
                        }
                    }
                },
                error:function () {
                    alert("上一页加载数据失败");
                }
            });    
        });
        //对页码添加点击事件
        $(document).on("click", ".page-btn", function () {
            searchName = $('#search').val();
            $this = $(this);
            $("tbody").html("");
            page.currPage = parseInt($this.text());
            curr_page = page.currPage;
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url: "/equip/findAll",
                data: {"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType: "JSON",
                type: "GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    for(i = 0; i < data.content.length; i++){
                        $("tbody").append('<tr>' +
                            '<td>'+data.content[i].name+'</td>' +
                            '<td id="td'+i+'"></td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].id + ')" ' +
                            'data-target="#updateModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                        for (var j = 0; j <data.content[i].equipTypes.length;j++) {
                            $("#td"+i).append(data.content[i].equipTypes[j].typeName+",");
                        }
                    }
                },
                error:function () {
                    alert("页码加载数据失败");
                }
            });
        });
        //对下一页添加点击事件
        $(document).on("click", "#page .next", function () {
            searchName = $('#search').val();
            page.currPage = parseInt(page.currPage) + 1;
            $("tbody").html("");
            curr_page = page.currPage;
            pageIteration(page.currPage);
            isDisabled(page.currPage, page.totalPage);
            $.ajax({
                url: "/equip/findAll",
                data: {"page": page.currPage, "pageSize": page.pageSize, "searchName": searchName},
                dataType: "JSON",
                type: "GET",
                success:function (data) {
                    page.totalPage = data.totalPages;
                    for(i = 0; i < data.content.length; i++){
                        $("tbody").append('<tr>' +
                            '<td>'+data.content[i].name+'</td>' +
                            '<td id="td'+i+'"></td>' +
                            '<td><button type="button" class="btn btn-default" data-toggle="modal"   onclick="updateBtn(' + data.content[i].id + ')" ' +
                            'data-target="#updateModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</button></td>' +
                            '</tr>');
                        for (var j = 0; j <data.content[i].equipTypes.length;j++) {
                            $("#td"+i).append(data.content[i].equipTypes[j].typeName+", ");
                        }
                    }
                },
                error:function () {
                    alert("页码加载数据失败");
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div th:include="/common/header :: html"></div>
        <div class="col-md-7 col-xs-12">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" id="add"
                    data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增设备
            </button>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="input-group">
                <input type="text" id="search" class="form-control" placeholder="输入设备名称进行搜索">
                <span class="input-group-btn">
                 <button class="btn btn-primary" id="searchButton">搜 索</button>
            </span>
            </div>
        </div>
        <table class="table table-striped">
            <caption>设备列表展示</caption>
            <thead>
            <tr>
                <th>设备名称</th>
                <th>设备型号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="page"></div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form method="post" th:action="@{/equip/addSave}" id="formDate">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">设备新增</h4>
                        </div>
                        <div class="modal-body" id="modalBody">
                            <label for="name">设备名称</label>
                            <input class="form-control" type="text" placeholder="设备名称" name="name" id="name" required="true"/>
                            <label for="typeName">设备型号</label>
                            <input class="form-control" type="text" placeholder="设备型号" name="typeName" id="typeName"
                                   required="true"/>
                            <button type="button" class="btn btn-default" id="addTypes"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增设备型号
                            </button>

                        </div>
                        <div class="modal-footer" id="footer">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form method="post" th:action="@{/equip/update}" id="updateDate">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">设备修改</h4>
                        </div>
                        <div class="modal-body" id="updateBody">
                            <div id="updateId"></div>
                            <label for="name">设备名</label>
                            <input class="form-control" type="text" placeholder="设备名称" name="name" id="updatename" required="true"/>
                            <label for="typeName" id="types">设备类型</label>
                            <div id="appendType"></div>
                            <button type="button" class="btn btn-default" id="updateTypes"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增设备型号
                            </button>
                            <div id="update_addTypes"></div>
                        </div>
                        <div class="modal-footer" id="updateFooter">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary" id="updateBtn">修改</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</body>
</html>